<!-- <div class="card"> -->
<!-- <div class="modal-header">
        <h5 class="modal-title mt-0">
            <span *ngIf="EmployeeId">{{'GENERAL.EDIT' | translate}}</span>
            <span *ngIf="!EmployeeId">{{'GENERAL.ADD' | translate}}</span>
            {{ 'GENERAL.EMPLOYEE' | translate }}
        </h5>
    </div> -->
<ng-container *ngIf="loadingShow && EmployeeId">
    <div class="d-flex justify-content-center align-items-center" style="min-height: 300px;">
        <div class="spinner-border text-primary m-1" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-container>
<div class="modal-body" *ngIf="!loadingShow || !EmployeeId">
    <form class="needs-validation" (ngSubmit)="onSubmit()" [formGroup]="EmployeeForm">
        <div class="row">
            <div class="col-md-6">
                <div class="card p-2">
                    <div class="card-header text-center mb-3">
                        {{'GENERAL.PERSONAL_INFORMATION' | translate}}
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="mb-3">
                                <label>{{'GENERAL.CODE' | translate}}</label>
                                <input type="text" class="form-control" formControlName="Code"
                                    [ngClass]="{'is-valid': form.Code.dirty && !form.Code.errors ,'is-invalid': form.Code.dirty && form.Code.errors}">
                                <div *ngIf="form.Code.dirty && form.Code.errors" class="invalid-feedback">
                                    <span *ngIf="form.Code.errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="mb-3">
                                <label class="d-block">{{'GENERAL.IsEmployeeManager' | translate}}</label>
                                <ui-switch defaultBoColor="#dfdfdf" formControlName="IsDepartmentManager"
                                    color="#576CBC" size="small" [checked]="form.IsDepartmentManager.value == true"
                                    class="ms-1"></ui-switch>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="mb-3">
                                <label>{{'GENERAL.ENGLISH_NAME' | translate}}</label>
                                <input type="text" class="form-control" formControlName="NameInEnglish"
                                    [ngClass]="{'is-valid': form.NameInEnglish.dirty && !form.NameInEnglish.errors ,'is-invalid': form.NameInEnglish.dirty && form.NameInEnglish.errors}">
                                <div *ngIf="form.NameInEnglish.dirty && form.NameInEnglish.errors"
                                    class="invalid-feedback">
                                    <span *ngIf="form.NameInEnglish.errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="mb-3">
                                <label>{{'GENERAL.ARABIC_NAME' | translate}}</label>
                                <input type="text" class="form-control" formControlName="Name"
                                    [ngClass]="{'is-valid': form.Name.dirty && !form.Name.errors ,'is-invalid': form.Name.dirty && form.Name.errors}">
                                <div *ngIf="form.Name.dirty && form.Name.errors" class="invalid-feedback">
                                    <span *ngIf="form.Name.errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6" *ngIf="!EmployeeId">
                            <div class="mb-3">
                                <label class="form-label text-capitalize">{{'GENERAL.EMAIL' | translate}}</label>
                                <div>
                                    <input type="email" class="form-control" formControlName="Email"
                                        [ngClass]="{'is-valid': form.Email.dirty && !form.Email.errors ,'is-invalid': form.Email.dirty && form.Email.errors}" />
                                    <div *ngIf="form.Email.dirty && form.Email.errors" class="invalid-feedback">
                                        <span *ngIf="form.Email.errors.required">This value is required.</span>
                                        <span *ngIf="form.Email.errors.pattern">This value should be a valid
                                            Email.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="mb-3">
                                <label>{{'GENERAL.MOBILE_NUMBER' | translate}}</label>
                                <input type="text" class="form-control" formControlName="Mobile"
                                    [ngClass]="{'is-valid': form.Mobile.dirty && !form.Mobile.errors ,'is-invalid': form.Mobile.dirty && form.Mobile.errors}">
                                <div *ngIf="form.Mobile.dirty && form.Mobile.errors" class="invalid-feedback">
                                    <span *ngIf="form.Mobile.errors.pattern">This value must be number</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="mb-3">
                                <label>{{'GENERAL.NATIONALID' | translate}}</label>
                                <input type="text" class="form-control" formControlName="NationalId"
                                    [ngClass]="{'is-valid': form.NationalId.dirty && !form.NationalId.errors ,'is-invalid': form.NationalId.dirty && form.NationalId.errors}">
                                <div *ngIf="form.NationalId.dirty && form.NationalId.errors" class="invalid-feedback">
                                    <span *ngIf="form.NationalId.errors.pattern">This value must be number</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="mb-3">
                                <label>{{'GENERAL.ADDRESS' | translate}}</label>
                                <input type="text" class="form-control" formControlName="Address"
                                    [ngClass]="{'is-valid': form.Address.dirty && !form.Address.errors ,'is-invalid': form.Address.dirty && form.Address.errors}">
                                <div *ngIf="form.Address.dirty && form.Address.errors" class="invalid-feedback">
                                    <span *ngIf="form.Address.errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="mb-3">
                                <label>{{'GENERAL.UNIVERSITY' | translate}}</label>
                                <input type="text" class="form-control" formControlName="University"
                                    [ngClass]="{'is-valid': form.University.dirty && !form.University.errors ,'is-invalid': form.University.dirty && form.University.errors}">
                                <div *ngIf="form.University.dirty && form.University.errors" class="invalid-feedback">
                                    <span *ngIf="form.University.errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="mb-3">
                                <label>{{'GENERAL.QUALIFICATION' | translate}}</label>
                                <input type="text" class="form-control" formControlName="Qualification"
                                    [ngClass]="{'is-valid': form.Qualification.dirty && !form.Qualification.errors ,'is-invalid': form.Qualification.dirty && form.Qualification.errors}">
                                <div *ngIf="form.Qualification.dirty && form.Qualification.errors"
                                    class="invalid-feedback">
                                    <span *ngIf="form.Qualification.errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label>{{'GENERAL.BIRTHDATE' | translate}}</label>
                                <div class="input-group clockpicker" #date2>
                                    <input ngbDatepicker [positionTarget]="date2" [placement]="placement"
                                        class="form-control" formControlName="BirthDate" autoClose="false"
                                        placeholder="yyyy-mm-dd" #BirthDate="ngbDatepicker" (click)="BirthDate.toggle()">
                                    <div class="input-group-append" (click)="BirthDate.toggle()">
                                        <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card p-2">
                    <div class="card-header text-center mb-3">
                        {{'GENERAL.MaritalStatus' | translate}}
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="mb-3">
                                <label>{{'GENERAL.SALARY' | translate}}</label>
                                <input type="text" class="form-control" formControlName="Salary"
                                    [ngClass]="{'is-valid': form.Salary.dirty && !form.Salary.errors ,'is-invalid': form.Salary.dirty && form.Salary.errors}">
                                <div *ngIf="form.Salary.dirty && form.Salary.errors" class="invalid-feedback">
                                    <span *ngIf="form.Salary.errors.pattern">This value must be number</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label class="form-label text-capitalize">{{'GENERAL.MilitaryStatus' |
                                    translate}}</label>
                                <ng-select
                                    [ngClass]="{'is-valid': form.MilitaryStatus_Id.dirty && !form.MilitaryStatus_Id.errors ,'is-invalid': form.MilitaryStatus_Id.dirty && form.MilitaryStatus_Id.errors}"
                                    [items]="listOfMilitaryStatus" formControlName="MilitaryStatus_Id" bindLabel="name"
                                    bindValue="id"></ng-select>
                                <div *ngIf="form.MilitaryStatus_Id.dirty && form.MilitaryStatus_Id.errors"
                                    class="invalid-feedback">
                                    <span *ngIf="form.MilitaryStatus_Id.errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label class="form-label text-capitalize">{{'GENERAL.MaritalStatus' |
                                    translate}}</label>
                                <ng-select
                                    [ngClass]="{'is-valid': form.MaritalStatus_Id.dirty && !form.MaritalStatus_Id.errors ,'is-invalid': form.MaritalStatus_Id.dirty && form.MaritalStatus_Id.errors}"
                                    [items]="listOfMaritalStatus" formControlName="MaritalStatus_Id" bindLabel="name"
                                    bindValue="id"></ng-select>
                                <div *ngIf="form.MaritalStatus_Id.dirty && form.MaritalStatus_Id.errors"
                                    class="invalid-feedback">
                                    <span *ngIf="form.MaritalStatus_Id.errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label class="form-label text-capitalize">{{'GENERAL.Status' |
                                    translate}}</label>
                                <ng-select
                                    [ngClass]="{'is-valid': form.Status_Id.dirty && !form.Status_Id.errors ,'is-invalid': form.Status_Id.dirty && form.Status_Id.errors}"
                                    [items]="listOfStatus" formControlName="Status_Id" bindLabel="name"
                                    bindValue="id"></ng-select>
                                <div *ngIf="form.Status_Id.dirty && form.Status_Id.errors" class="invalid-feedback">
                                    <span *ngIf="form.Status_Id.errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label class="form-label text-capitalize">{{'GENERAL.STATES' |
                                    translate}}</label>
                                <ng-select
                                    [ngClass]="{'is-valid': form.state_Id.dirty && !form.state_Id.errors ,'is-invalid': form.state_Id.dirty && form.state_Id.errors}"
                                    [items]="listOfStates" formControlName="state_Id"
                                    (change)="getListOfRegions($event?.id)" bindLabel="name" bindValue="id"></ng-select>
                                <div *ngIf="form.state_Id.dirty && form.state_Id.errors" class="invalid-feedback">
                                    <span *ngIf="form.state_Id.errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label class="form-label text-capitalize">{{'GENERAL.REGION' |
                                    translate}}</label>
                                <ng-select
                                    [ngClass]="{'is-valid': form.Region_Id.dirty && !form.Region_Id.errors ,'is-invalid': form.Region_Id.dirty && form.Region_Id.errors}"
                                    [items]="listOfRegion" formControlName="Region_Id" bindLabel="name"
                                    bindValue="id"></ng-select>
                                <div *ngIf="form.Region_Id.dirty && form.Region_Id.errors" class="invalid-feedback">
                                    <span *ngIf="form.Region_Id.errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label class="form-label text-capitalize">{{'GENERAL.GENDER' |
                                    translate}}</label>
                                <ng-select
                                    [ngClass]="{'is-valid': form.Gender_Id.dirty && !form.Gender_Id.errors ,'is-invalid': form.Gender_Id.dirty && form.Gender_Id.errors}"
                                    [items]="listOfGender" formControlName="Gender_Id" bindLabel="name"
                                    bindValue="id"></ng-select>
                                <div *ngIf="form.Gender_Id.dirty && form.Gender_Id.errors" class="invalid-feedback">
                                    <span *ngIf="form.Gender_Id.errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label class="form-label text-capitalize">{{'GENERAL.DEPARTMENTS' |
                                    translate}}</label>
                                <ng-select
                                    [ngClass]="{'is-valid': form.department_Id.dirty && !form.department_Id.errors ,'is-invalid': form.department_Id.dirty && form.department_Id.errors}"
                                    [items]="listOfDepartment" formControlName="department_Id"
                                    (change)="getListOfJob($event?.id)" bindLabel="name" bindValue="id"></ng-select>
                                <div *ngIf="form.department_Id.dirty && form.department_Id.errors"
                                    class="invalid-feedback">
                                    <span *ngIf="form.department_Id.errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label class="form-label text-capitalize">{{'GENERAL.JOBS' |
                                    translate}}</label>
                                <ng-select
                                    [ngClass]="{'is-valid': form.Job_Id.dirty && !form.Job_Id.errors ,'is-invalid': form.Job_Id.dirty && form.Job_Id.errors}"
                                    [items]="listOfJob" formControlName="Job_Id" bindLabel="name"
                                    bindValue="id"></ng-select>
                                <div *ngIf="form.Job_Id.dirty && form.Job_Id.errors" class="invalid-feedback">
                                    <span *ngIf="form.Job_Id.errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6" *ngIf="form.SuperVisor_Id.value !== 0">
                            <div class="mb-3">
                                <label class="form-label text-capitalize">{{'GENERAL.SUPERVISOR' |
                                    translate}}</label>
                                <ng-select
                                    [ngClass]="{'is-valid': form.SuperVisor_Id.dirty && !form.SuperVisor_Id.errors ,'is-invalid': form.SuperVisor_Id.dirty && form.SuperVisor_Id.errors}"
                                    [items]="listOfEmployees" formControlName="SuperVisor_Id" bindLabel="name"
                                    bindValue="id"></ng-select>
                                <div *ngIf="form.SuperVisor_Id.dirty && form.SuperVisor_Id.errors"
                                    class="invalid-feedback">
                                    <span *ngIf="form.SuperVisor_Id.errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label>{{'GENERAL.HIREDATE' | translate}}</label>
                                <div class="input-group clockpicker" #date1>
                                    <input ngbDatepicker [positionTarget]="date1" [placement]="placement"
                                        class="form-control" formControlName="HireDate" autoClose="false"
                                        placeholder="yyyy-mm-dd" #HireDate="ngbDatepicker"
                                        (click)="HireDate.toggle()">
                                    <div class="input-group-append" (click)="HireDate.toggle()">
                                        <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label>{{'GENERAL.GRADUATEDATE' | translate}}</label>
                                <div class="input-group clockpicker" #date3>
                                    <input ngbDatepicker [positionTarget]="date3" [placement]="placement"
                                        class="form-control" formControlName="GraduateDate" autoClose="false"
                                        placeholder="yyyy-mm-dd" #GraduateDate="ngbDatepicker" (click)="GraduateDate.toggle()">
                                    <div class="input-group-append" (click)="GraduateDate.toggle()">
                                        <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="col-12 mb-4">
                                <div class="row" formArrayName="Files">
                                    <div *ngFor="let EmployeeArr of Employee.controls; let i = index">
                                        <ng-container [formGroupName]="i">
                                            <div class="row">
                                                <div class="col-5">
                                                    <!-- <div class="row p-0 m-0"> -->
                                                    <label for="formFile" class="form-label text-capitalize">
                                                        {{'GENERAL.FILES' |
                                                        translate}}</label>
                                                    <input class="form-control" type="file" accept="image/*"
                                                        (change)="uploadeFiles($event , i)"
                                                        [ngClass]="{'is-valid': EmployeeArr.get('File').dirty && !EmployeeArr.get('File').errors ,'is-invalid': EmployeeArr.get('File').dirty && EmployeeArr.get('File').errors}">
                                                    <div class="card-image p-0 px-2 m-2"
                                                        *ngIf="EmployeeArr.get('path').value != null">
                                                        <div class="row">
                                                            <img class="p-0 w-100" title="images" accept="image/*"
                                                                alt="images" [src]="EmployeeArr.value.path"
                                                                *ngIf="!EmployeeId" />
                                                            <img class="p-0 w-100" title="images" accept="image/*"
                                                                alt="images" [src]="EmployeeArr.value.path"
                                                                *ngIf="EmployeeId" />
                                                        </div>
                                                        <!-- </div> -->
                                                    </div>
                                                </div>
                                                <div class="col-5">
                                                    <!-- <div class="row p-0 m-0"> -->
                                                    <label>{{'GENERAL.DESCRIPTION' | translate}}</label>
                                                    <input type="text" class="form-control"
                                                        formControlName="Description"
                                                        [ngClass]="{'is-valid': EmployeeArr.get('Description').dirty && !EmployeeArr.get('Description').errors ,'is-invalid': EmployeeArr.get('Description').dirty && EmployeeArr.get('Description').errors}">
                                                    <div *ngIf="EmployeeArr.get('Description').dirty && EmployeeArr.get('Description').errors"
                                                        class="invalid-feedback">
                                                        <span
                                                            *ngIf="EmployeeArr.get('Description').errors.required">This
                                                            value is
                                                            required.</span>
                                                    </div>
                                                </div>
                                                <!-- </div> -->
                                                <div class="col-1" *ngIf="i == Employee.controls.length - 1">
                                                    <label class="hide-lable d-block">.</label>
                                                    <button type="button" class="btn btn-success"
                                                        (click)="addFormEmployee()">+</button>
                                                </div>
                                                <div class="col-1" *ngIf="Employee.controls.length > 1">
                                                    <label class="hide-lable d-block">.</label>
                                                    <button type="button" class="btn btn-danger"
                                                        (click)="deleteFormEmployee(i);RemoveImage(EmployeeArr.get('id').value)"><i
                                                            class="bx bxs-trash"></i></button>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 text-center">
            <button class="btn btn-primary" type="submit" [disabled]="EmployeeForm.invalid">
                <i class="bx bx-loader bx-spin font-size-16 align-middle me-2" *ngIf="loadingEmployees"></i>  
                <span *ngIf="!EmployeeId">{{'GENERAL.ADD' | translate}}</span>
                <span *ngIf="EmployeeId">{{'GENERAL.EDIT' | translate}}</span>
            </button>
        </div>
    </form>
</div>
<!-- </div> -->