// dropdown
.dropdown-toggle {
    &:after {
        display: none;
    }
}

.card-image {
    min-width: 87px;
    max-width: min-content;
}

.country-dropdown {
    max-width: 468px;
}

.iti[_ngcontent-nsm-c356] input#country-search-box {
    padding: 6px;
}

.bx-trash {
    color: #f34242;
}

.iti {
    min-width: 100% !important;
}

.min-w-55 {
    min-width: 55px;
}
.rtl {
    .position-delete{
        max-width: max-content;
        left: 10px;
    }
}
.ltr {
    .position-delete{
        max-width: max-content;
        right: 10px ;
    }
}
.hide-lable{
    visibility: hidden;
}
// .main-content{
//     background-color: #d5dbe3;
// }
.addImg{
    display: flex;
    min-height: 80px;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgb(182, 224, 224);
    max-width: 100px;
    cursor: pointer;
}
.border-content{
    border: 2px solid #cdcdcd;
}