.was-validated .form-control:valid, .form-control.is-valid , .form-control.is-invalid {
    padding: 0.47rem 0.75rem;
    padding-left: calc(1.5em + 0.94rem);
    background-position: left calc(0.375em + 0.235rem) center;
}