<div class="container-fluid">
    <!-- start page title -->
    <app-page-title title="Tasks" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <!-- end page title -->
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-4">
            <div class="card">
                <div class="card-body">
                    <!-- <div class="dropdown float-end" ngbDropdown>
                        <a href="javascript: void(0);" class="dropdown-toggle arrow-none" ngbDropdownToggle>
                            <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                            <a class="dropdown-item" href="javascript: void(0);">Edit</a>
                            <a class="dropdown-item" href="javascript: void(0);">Delete</a>
                        </div>
                    </div> -->
                    <h4 class="card-title mb-4">To Do</h4>
                    <div id="upcoming-task" [class]="toDoTasks.length > 0 ? '':'task-list-none'" class="pb-1 task-list"
                        dndDropzone dndEffectAllowed="move" (dndDrop)="onDrop($event, toDoTasks,1)">
                        <div class="dndPlaceholder" dndPlaceholderRef></div>
                        <ng-container *ngFor="let task of toDoTasks">
                            <div [dndDraggable]="task" dndEffectAllowed="move" (dndMoved)="onDragged(task, toDoTasks)">
                                <ng-template [ngTemplateOutlet]="TaskContent" [ngTemplateOutletContext]="{task:task}">
                                </ng-template>
                            </div>
                        </ng-container>
                    </div>
                    <div class="text-center d-grid mt-2">
                        <a href="javascript: void(0);" class="btn btn-primary" (click)="openModal(addTasks,0 ,1)"><i
                                class="mdi mdi-plus me-1"></i>
                            Add New</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->

        <div class="col-xl-3 col-lg-4 col-md-4">
            <div class="card">
                <div class="card-body">
                    <!-- <div class="dropdown float-end" ngbDropdown>
                        <a href="javascript: void(0);" class="dropdown-toggle arrow-none" ngbDropdownToggle>
                            <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                            <a class="dropdown-item" href="javascript: void(0);">Edit</a>
                            <a class="dropdown-item" href="javascript: void(0);">Delete</a>
                        </div>
                    </div>  -->

                    <h4 class="card-title mb-4">In Progress</h4>
                    <div id="Progress-task" [class]="inprogressTasks.length > 0 ? '':'task-list-none'"
                        class="pb-1 task-list" dndDropzone dndEffectAllowed="move"
                        (dndDrop)="onDrop($event, inprogressTasks,2)">
                        <div class="dndPlaceholder" dndPlaceholderRef></div>
                        <ng-container *ngFor="let task of inprogressTasks">
                            <div [dndDraggable]="task" dndEffectAllowed="move"
                                (dndMoved)="onDragged(task, inprogressTasks)">
                                <ng-template [ngTemplateOutlet]="TaskContent" [ngTemplateOutletContext]="{task:task}">
                                </ng-template>
                            </div>
                        </ng-container>
                    </div>
                    <div class="text-center d-grid mt-2">
                        <a href="javascript: void(0);" class="btn btn-primary" (click)="openModal(addTasks,0 ,2)"><i
                                class="mdi mdi-plus me-1"></i>
                            Add New</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-4">
            <div class="card">
                <div class="card-body">
                    <!-- <div class="dropdown float-end" ngbDropdown>
                        <a href="javascript: void(0);" class="dropdown-toggle arrow-none" ngbDropdownToggle>
                            <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                            <a class="dropdown-item" href="javascript: void(0);">Edit</a>
                            <a class="dropdown-item" href="javascript: void(0);">Delete</a>
                        </div>
                    </div>  -->

                    <h4 class="card-title mb-4">In Review</h4>
                    <div id="completed-task" [class]="inReviewTasks.length > 0 ? '':'task-list-none'"
                        class="pb-1 task-list" dndDropzone dndEffectAllowed="move"
                        (dndDrop)="onDrop($event, inReviewTasks,3)">
                        <div class="dndPlaceholder" dndPlaceholderRef></div>

                        <ng-container *ngFor="let task of inReviewTasks">
                            <div [dndDraggable]="task" dndEffectAllowed="move"
                                (dndMoved)="onDragged(task, inReviewTasks)">
                                <ng-template [ngTemplateOutlet]="TaskContent" [ngTemplateOutletContext]="{task:task}">
                                </ng-template>
                            </div>
                        </ng-container>

                        <!-- <div class="text-center d-grid">
                            <a href="javascript: void(0);" class="btn btn-primary" (click)="openModal(addTasks,0 ,null)"><i
                                    class="mdi mdi-plus me-1"></i>
                                Add New</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-4">
            <div class="card">
                <div class="card-body">
                    <!-- <div class="dropdown float-end" ngbDropdown>
                        <a href="javascript: void(0);" class="dropdown-toggle arrow-none" ngbDropdownToggle>
                            <i class="mdi mdi-dots-vertical m-0 text-muted h5"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                            <a class="dropdown-item" href="javascript: void(0);">Edit</a>
                            <a class="dropdown-item" href="javascript: void(0);">Delete</a>
                        </div>
                    </div> -->

                    <h4 class="card-title mb-4">Done</h4>
                    <div id="completed-task" [class]="doneTasks  .length > 0 ? '':'task-list-none'"
                        class="pb-1 task-list" dndDropzone dndEffectAllowed="move"
                        (dndDrop)="onDrop($event, doneTasks,4)">
                        <div class="dndPlaceholder" dndPlaceholderRef></div>

                        <ng-container *ngFor="let task of doneTasks">
                            <div [dndDraggable]="task" dndEffectAllowed="move" (dndMoved)="onDragged(task, doneTasks)">
                                <ng-template [ngTemplateOutlet]="TaskContent" [ngTemplateOutletContext]="{task:task}">
                                </ng-template>
                            </div>
                        </ng-container>
                        <!-- <div class="text-center d-grid">
                            <a href="javascript: void(0);" class="btn btn-primary" (click)="openModal(addTasks,0 ,null)"><i
                                    class="mdi mdi-plus me-1"></i>
                                Add New</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Task  -->
<ng-template #TaskContent let-task='task'>
    <div class="card task-box">
        <div class="card-body p-2 d-flex">
            <!-- <div class=" badge rounded-pill delete-icon" style="cursor: pointer;" (click)="RemoveTask(task.id)">
                <i class="bx bx-trash fa-1x"></i>
            </div> -->
            <div class="d-flex col" (click)="viewModalTask(viewTasks , 1 , task.id)">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <h5 class="font-size-12 p-0 m-0 me-auto d-flex">
                            {{task.title}}
                        </h5>
                        <div class="position-badge my-2">
                            <span class="badge rounded-pill badge-soft-secondary font-size-10" [ngClass]=" { 
                  'badge-soft-warning': task.priorityId === 2,
                  'badge-soft-primary': task.priorityId === 3,
                  'badge-soft-danger': task.priorityId === 1 }">{{task.priorityName}}</span>
                        </div>
                        <div class="avatar-group" *ngIf="task?.assignedEmployeeData.length > 0">
                            <div class="avatar-group-item" *ngIf="task?.assignedEmployeeData[0]">
                                <a href="javascript: void(0);" class="d-inline-block">
                                    <img src="{{ domain+task?.assignedEmployeeData[0]?.imagePath}}"
                                        class="rounded-circle avatar-xs" alt="">
                                </a>
                            </div>
                            <div class="avatar-group-item avatar-xs" *ngIf="!task?.assignedEmployeeData[0]">
                                <span class="avatar-title rounded-circle bg-primary text-light">
                                    {{task?.assignedEmployeeData[0]?.name.charAt(0)}}
                                </span>
                            </div>
                            <div class="avatar-group-item" *ngIf="task.assignedEmployeeData[1]">
                                <a href="javascript: void(0);" class="d-inline-block">
                                    <img src="{{ domain+task.assignedEmployeeData[1]?.imagePath}}"
                                        class="rounded-circle avatar-xs" alt="">
                                </a>
                            </div>
                            <div class="avatar-group-item avatar-xs" *ngIf="!task?.assignedEmployeeData[1]">
                                <span class="avatar-title rounded-circle bg-primary text-light">
                                    {{task?.assignedEmployeeData[1]?.name.charAt(0)}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- <p class="text-muted mb-4">{{task.endDate}}</p> -->
                </div>
            </div>
            <div ngbDropdown>
                <div class="dropdown">
                    <button class="btn dropdown-toggle p-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" ngbDropdownToggle>
                        <i class="mdi mdi-dots-horizontal"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                        <a class="dropdown-item" href="javascript: void(0);"
                            (click)="(editModal(addTasks , 1 , task.id))"><i class="bx bx-edit"></i>Edit</a>
                        <a class="dropdown-item" href="javascript: void(0);" (click)="RemoveTask(task.id)"><i
                                class="bx bx-trash"></i>Delete</a>
                    </div>
                </div>
            </div>
            <!-- <div class="text-end">
          <h5 class="font-size-15 mb-1">$ {{task.budget}}</h5>
          <p class="mb-0 text-muted">Budget</p>
        </div> -->
        </div>
    </div>
</ng-template>

<!-- modal Tasks -->
<ng-template #addTasks role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">
            <span *ngIf="lableForm == 1">{{'GENERAL.EDIT' | translate}}</span>
            <span *ngIf="lableForm == 0">{{'GENERAL.ADD' | translate}}</span>
            {{ 'GENERAL.TASK' | translate }}
        </h5>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <ng-container *ngIf="loadingShow && lableForm == 1">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 300px;">
            <div class="spinner-border text-primary m-1" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-container>
    <div class="modal-body" *ngIf="!loadingShow || lableForm == 0">
        <form class="needs-validation" (ngSubmit)="onSubmit()" [formGroup]="taskForm">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="mb-3">
                            <label>{{'GENERAL.TITLE' | translate}}</label>
                            <input type="text" class="form-control" formControlName="Title"
                                [ngClass]="{'is-valid': form.Title.dirty && !form.Title.errors ,'is-invalid': form.Title.dirty && form.Title.errors}">
                            <div *ngIf="form.Title.dirty && form.Title.errors" class="invalid-feedback">
                                <span *ngIf="form.Title.errors.required">This value is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label>{{'GENERAL.DESCRIPTION' | translate}}</label>
                            <textarea type="text" class="form-control" formControlName="Description"
                                [ngClass]="{'is-valid': form.Description.dirty && !form.Description.errors ,'is-invalid': form.Description.dirty && form.Description.errors}">
                                </textarea>
                            <div *ngIf="form.Description.dirty && form.Description.errors" class="invalid-feedback">
                                <span *ngIf="form.Description.errors.required">This value is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="mb-3">
                            <label>{{'GENERAL.STARTDATE' | translate}}</label>
                            <div class="input-group clockpicker">
                                <input type="datetime-local" class="form-control" formControlName="StartDate"
                                    placeholder="yyyy-mm-dd">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="mb-3">
                            <label>{{'GENERAL.ENDDATE' | translate}}</label>
                            <div class="input-group clockpicker">
                                <input type="datetime-local" class="form-control" formControlName="EndDate"
                                    placeholder="yyyy-mm-dd">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="mb-3">
                            <label class="form-label text-capitalize">{{'GENERAL.PRIORITY' |
                                translate}}</label>
                            <ng-select [items]="ListOfPriorities" formControlName="Priority_Id" bindLabel="name"
                                bindValue="id"></ng-select>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="mb-3">
                            <label class="form-label text-capitalize">{{'GENERAL.ASSIGNED' |
                                translate}} {{'GENERAL.EMPLOYEE' | translate}}</label>
                            <ng-select [items]="ListOfEmployees" formControlName="AssignedEmployeeIds" bindLabel="name"
                                bindValue="id" [multiple]="true"></ng-select>
                        </div>
                    </div>
                    <!-- <div class="col-12">
            <div class="mb-3">
              <label for="formFile">{{'GENERAL.IMAGE' | translate}} {{'GENERAL.PROJECT' | translate}}</label>
              <input class="form-control" type="file" accept="image/*" id="formFile" (change)="uploadeImage($event)"
                [ngClass]="{'is-valid': form.image.dirty && !form.image.errors ,'is-invalid': form.image.dirty && form.image.errors}">
              <div class="card-image p-0 px-2 m-2" *ngIf="form.image.value">
                <img class="p-0 w-100" title="images" alt="images" [src]="form.image.value" />
              </div>
            </div>
          </div> -->
                    <div class="col-12 mb-4">
                        <div class="row" formArrayName="TaskAtachments">
                            <div class="col" *ngIf="TaskAtachments.controls.length == 0">
                                <div class="addImg" (click)="addformTaskAtachments()">
                                    <i class="bx bx-plus-medical"></i>
                                </div>
                            </div>
                            <ng-container *ngIf="TaskAtachments.controls.length > 0">
                                <div *ngFor="let Attachment of TaskAtachments.controls; let i = index">
                                    <ng-container [formGroupName]="i">
                                        <div class="row">
                                            <div class="col-5">
                                                <!-- <div class="row p-0 m-0"> -->
                                                <label for="formFile"
                                                    class="form-label text-capitalize">{{'GENERAL.IMAGE' |
                                                    translate}}
                                                    {{'GENERAL.FILES' |
                                                    translate}}</label>
                                                <input class="form-control" type="file" accept="image/*"
                                                    (change)="uploadeFiles($event , i)"
                                                    [ngClass]="{'is-valid': Attachment.get('File').dirty && !Attachment.get('File').errors ,'is-invalid': Attachment.get('File').dirty && Attachment.get('File').errors}">
                                                <div class="card-image p-0 px-2 m-2"
                                                    *ngIf="Attachment.get('path').value != null">
                                                    <div class="row">
                                                        <img class="p-0 w-100" title="images" accept="image/*"
                                                            alt="images" [src]="Attachment.value.path" />
                                                        <!-- <img class="p-0 w-100" title="images" accept="image/*" alt="images"
                                                            [src]="domain+Attachment.value.path" *ngIf="lableForm == 1" /> -->
                                                    </div>
                                                    <!-- </div> -->
                                                </div>
                                            </div>
                                            <div class="col-5">
                                                <!-- <div class="row p-0 m-0"> -->
                                                <label>{{'GENERAL.DESCRIPTION' | translate}}</label>
                                                <input type="text" class="form-control" formControlName="Description"
                                                    [ngClass]="{'is-valid': Attachment.get('Description').dirty && !Attachment.get('Description').errors ,'is-invalid': Attachment.get('Description').dirty && Attachment.get('Description').errors}">
                                                <div *ngIf="Attachment.get('Description').dirty && Attachment.get('Description').errors"
                                                    class="invalid-feedback">
                                                    <span *ngIf="Attachment.get('Description').errors.required">This
                                                        value is
                                                        required.</span>
                                                </div>
                                            </div>
                                            <!-- </div> -->
                                            <div class="col-1" *ngIf="i == TaskAtachments.controls.length - 1">
                                                <label class="hide-lable d-block">.</label>
                                                <button type="button" class="btn btn-success"
                                                    (click)="addformTaskAtachments()">+</button>
                                            </div>
                                            <div class="col-1" *ngIf="TaskAtachments.controls.length > 1">
                                                <label class="hide-lable d-block">.</label>
                                                <button type="button" class="btn btn-danger"
                                                    (click)="deleteformTaskAtachments(i);RemoveImage(Attachment.get('id').value)"><i
                                                        class="bx bxs-trash"></i></button>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">Attachment</div>
                            <p class="card-title-desc">DropzoneJS is an open source library
                                that provides drag’n’drop file uploads with image previews.
                            </p>
                            <div>
                                <form>
                                    <dropzone [config]="imageConfig" (error)="onUploadError"
                                        (success)="onUploadSuccess"></dropzone>
                                </form>
                            </div>
                            <div class="text-center mt-4">
                                <button type="button" class="btn btn-primary">Send Files</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="w-100 text-center">
                <button class="btn btn-primary" type="submit" [disabled]="taskForm.invalid">
                    <i class="bx bx-loader bx-spin font-size-16 align-middle me-2" *ngIf="loadingTasks"></i>
                    {{lableForm == 0 ? 'ADD': 'EDIT'}}
                </button>
            </div>
        </form>
    </div>

</ng-template>

<!-- view Tasks -->
<ng-template #viewTasks role="document" let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <ng-container *ngIf="loadingShow && lableForm == 1">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 300px;">
            <div class="spinner-border text-primary m-1" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-container>
    <div class="modal-body" *ngIf="!loadingShow || lableForm == 0">
        <div class="card border-5 pt-2 active pb-0 px-3 overflow-auto">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="col-8 py-1">
                            <h4 class="card-title "><b>{{taskData.title}}</b></h4>
                        </div>
                        <div class="col-12">
                            <h6 class="card-subtitle mb-2 text-muted">
                                <p class="card-text text-muted small">
                                    <!-- <img src="https://img.icons8.com/color/26/000000/christmas-star.png" class="mr-1 " width="19"
                                    height="19" id="star"> <span class="vl mr-2 ml-0"></span> -->
                                    <i class="fa fa-users text-muted "></i> Public <span class="vl ml-1 mr-2 "></span>
                                    <span>End Date : {{taskData.endDate | date:'fullDate'}}</span>
                                    <!-- <span></span>Updated by <span class="font-weight-bold"> Team</span> on {{taskData.endDate | date:'fullDate'}} -->
                                </p>
                            </h6>
                        </div>
                        <div class="col-12">
                            <p class="m-0 btn-outlined btn-black text-muted d-flex align-items-center">
                                <i class="bx bx-list-minus fa-2x"></i>
                                <!-- <img src="https://img.icons8.com/metro/26/000000/link.png" width="17" height="17" id="plus"> -->
                                <b class="mx-2">Description</b>
                            </p>
                            <div class="border-2 p-2">
                                <p style="font-size: .8rem;" class="m-0">
                                    {{taskData.description}}
                                </p>
                            </div>
                        </div>
                        <div class=" col-12 ">
                            <!-- <a href="#" class="btn btn-outlined btn-black text-muted bg-transparent" data-wow-delay="0.7s"><img
                                    src="https://img.icons8.com/ios/50/000000/settings.png" width="19" height="19">
                                <b>SETTINGS</b></a>
                            <i class="mdi mdi-settings-outline"></i> -->
                            <p class="btn-outlined btn-black text-muted d-flex align-items-center">
                                <img src="https://img.icons8.com/metro/26/000000/link.png" width="17" height="17"
                                    id="plus">
                                <b class="mx-2">Attachment</b>
                            </p>
                            <div class="card border-5 py-2">
                                <div class="row p-0 m-0">
                                    <ng-container *ngIf="taskData.atachments.length == 0">
                                        <div class="d-flex justify-content-center align-items-center"
                                            style="min-height: 100px;">
                                            <div class="alert alert-warning fade text-center show px-3 mb-0"
                                                role="alert">
                                                <div class="mb-1">
                                                    <i class="bx bx-error-alt h1  text-warning"></i>
                                                </div>
                                                <div class="text-center">
                                                    <h5 class="text-warning ">Not Found Attachment</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="taskData.atachments.length > 0">
                                        <div style="height: max-content;" class="card col-3 m-1 border-2 border-light"
                                            *ngFor="let atachment of taskData.atachments">
                                            <div class="row">
                                                <div class="col-12">
                                                    <img class="w-100" [src]="domain+atachment.file"
                                                        [title]="atachment.description" />
                                                    <h6 class="text-center py-1 m-0">{{atachment.description}}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <!-- <p class="btn btn-outlined btn-black text-muted "><img
                                    src="https://img.icons8.com/metro/26/000000/more.png" width="20" height="20"
                                    class="mr-2 more"><b>MORE</b></p>
                            <span class="vl ml-3"></span> -->
                        </div>
                        <div class="col-12">
                            <ng-container *ngIf="loader">
                                <div class="d-flex justify-content-center align-items-center"
                                    style="min-height: 300px;">
                                    <div class="spinner-border text-primary m-1" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container>
                                <app-comments (reloadeComment)="GetAllTaskComments($event)"
                                    [departmentID]="departmentID" [Data]="allComments" [taskID]="taskID"></app-comments>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-md-4 border-start">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="list-inline">
                                    <p class="btn-outlined btn-black text-muted d-flex align-items-center">
                                        <i class="bx bx-user text-primary"></i>
                                        <b class="mx-2">Assigned Employees</b>
                                    </p>
                                    <li class="list-inline-item w-100 d-flex">
                                        <ng-container *ngFor="let img of taskData.assignedEmployeeData">
                                            <div class="avatar-group-item avatar-sm m-1" *ngIf="!img.imagePath">
                                                <span
                                                    class="avatar-title rounded-circle bg-soft bg-primary text-primary">
                                                    {{img.name.charAt(0)}}
                                                </span>
                                            </div>
                                            <div class="avatar-group-item avatar-sm m-1" *ngIf="img.imagePath">
                                                <img [src]="domain + img.imagePath" [alt]="img.name"
                                                    class="m-0 img-fluid avatar-title p-0 rounded-circle bg-soft ">
                                            </div>
                                        </ng-container>
                                    </li>
                                    <!-- <li class="list-inline-item"> <img src="https://img.icons8.com/ios/50/000000/plus.png" width="30"
                                            height="30 " class="more">
                                        </li> -->
                                </ul>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-4 py-4 border-top row">
                                    <div class="col-6">
                                        <div class="row p-0 m-0">
                                            <div class=" badge badge-soft-primary d-flex align-items-center p-2 my-2">
                                                <i class="bx bx-calendar me-1"></i>
                                                <div class="ms-1">
                                                    <p class="text-uppercase fw-weight-bold text-dark
                                                    mb-0">Start Date</p>
                                                    <b class="text-gray mb-0">{{taskData.startDate | date:
                                                        'longDate'}}</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row p-0 m-0">
                                            <div class=" badge badge-soft-danger d-flex align-items-center p-2 my-2">
                                                <i class="bx bx-calendar me-1"></i>
                                                <div class="ms-1">
                                                    <p class="text-uppercase fw-weight-bold text-dark
                                                 mb-0">End Date</p>
                                                    <b class="text-gray mb-0">{{taskData.endDate | date:
                                                        'longDate'}}</b>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white px-0 ">
                    <!-- <div class="row"> -->


                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</ng-template>