<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body row">
          <div class="col-6 d-flex align-items-center ">
            <h3 class="m-0">{{ 'MENUITEMS.CONRTRIES.TEXT' | translate }}</h3>
          </div>
          <div class="col-6 d-flex justify-content-end ">
            <button class="btn btn-primary w-md" (click)="openModal(addCountry , 0)">{{'GENERAL.ADD' | translate}} {{ 'GENERAL.COUNTRY' | translate }} <i
                class="bx bx-plus-medical"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ng-container *ngIf="loader">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 300px;">
          <div class="spinner-border text-primary m-1" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-container>
      <div *ngIf="!loader">
        <div class="table-responsive">
          <table class="table project-list-table table-nowrap align-middle table-borderless">
            <thead>
              <tr>
                <th scope="col" style="width: 100px">#</th>
                <th scope="col">{{'GENERAL.COUNTRY' | translate}}</th>
                <!-- <th scope="col">Due Date</th> -->
                <th scope="col">{{'GENERAL.STATUS' | translate}}</th>
                <th scope="col">{{'GENERAL.ACTIVE' | translate}} / {{'GENERAL.NOTACTIVE' | translate}}</th>
                <th scope="col">{{'GENERAL.ACTION' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Country of allCountries;trackBy:getUpdateCountry">
                <td>
                  <img src="{{Country.flag}}" alt class="avatar-sm" />
                </td>
                <td>
                  <h5 class="text-truncate font-size-14">
                    <a href="javascript: void(0);" class="text-dark">{{Country.name}}</a>
                  </h5>
                  <!-- <p class="text-muted mb-0">{{Country.subtext}}</p> -->
                </td>
                <!-- <td>{{Country.date}}</td> -->
                <td>
                  <span class="badge" [class]="Country.status == 1 ? 'bg-success':'bg-warning'">
                    <!-- <i class="bx bx-loader bx-spin font-size-16 align-middle me-2" *ngIf="loadingStatus && this.countryId == Country.id"></i> -->
                    <div >
                      <span *ngIf="Country.status == 1">{{'GENERAL.ACTIVE' | translate}}</span>
                      <span *ngIf="Country.status == 0">{{'GENERAL.NOTACTIVE' | translate}}</span>

                    </div>

                  </span>
                </td>

                <td>
                  <ui-switch defaultBoColor="#dfdfdf" color="#576CBC" size="small"
                    (change)="changeActivate($event , Country.id);getUpdateCountry(Country.id)"
                    [checked]="Country.status == 1" class="ms-1"></ui-switch>
                </td>
                <td>
                  <ul class="list-inline font-size-20 contact-links mb-0">
                    <li class="list-inline-item px-2">
                      <i class="bx bx-edit" (click)="patchValueForm(addCountry,Country);getUpdateCountry(Country.id)" style="cursor: pointer;"></i>
                    </li>
                    <li class="list-inline-item px-2" (click)="delete(Country.id)">
                      <i class="bx bx-trash" style="cursor: pointer;"></i>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

  <!-- <div class="row">
      <div class="col-12">
        <div class="text-center my-3">
          <a href="javascript:void(0);" class="text-success">
            <i class="bx bx-loader bx-spin font-size-18 align-middle mr-2"></i> Load more
          </a>
        </div>
      </div>
    </div> -->
  <!-- end row -->
</div>
<!-- Add Modal -->
<ng-template #addCountry role="document" let-modal>
  <div class="modal-header">
    
    <h5 class="modal-title mt-0">
      <span *ngIf="lableForm == 1">{{'GENERAL.EDIT' | translate}}</span>
      <span *ngIf="lableForm == 0">{{'GENERAL.ADD' | translate}}</span>
      {{'GENERAL.COUNTRY' | translate}}
    </h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <ng-container *ngIf="loadingShow && lableForm == 1">
    <div class="d-flex justify-content-center align-items-center" style="min-height: 300px;">
      <div class="spinner-border text-primary m-1" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-container>
  <div class="modal-body" *ngIf="!loadingShow || lableForm == 0">
    <form class="needs-validation" (ngSubmit)="onSubmit()" [formGroup]="countriesForm">
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label for="validationCustom01">{{'GENERAL.ENGLISH_NAME' | translate}}</label>
            <input type="text" class="form-control" id="validationCustom01" formControlName="name_en"
              
              [ngClass]="{'is-valid': form.name_en.dirty && !form.name_en.errors ,'is-invalid': form.name_en.dirty && form.name_en.errors}">
            <div *ngIf="form.name_en.dirty && form.name_en.errors" class="invalid-feedback">
              <span *ngIf="form.name_en.errors.required">This value is required.</span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="mb-3">
            <label for="validationCustom01">{{'GENERAL.ARABIC_NAME' | translate}}</label>
            <input type="text" class="form-control" id="validationCustom01" formControlName="name_ar"
             
              [ngClass]="{'is-valid': form.name_ar.dirty && !form.name_ar.errors ,'is-invalid': form.name_ar.dirty && form.name_ar.errors}">
            <div *ngIf="form.name_ar.dirty && form.name_ar.errors" class="invalid-feedback">
              <span *ngIf="form.name_ar.errors.required">This value is required.</span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="mb-3">
            <label for="formFile">{{'GENERAL.IMAGE' | translate}} {{'GENERAL.COUNTRY' | translate}}</label>
            <input class="form-control" type="file" accept="image/*" id="formFile" (change)="uploadeImage($event)"
              [ngClass]="{'is-valid': form.image.dirty && !form.image.errors ,'is-invalid': form.image.dirty && form.image.errors}">
            <div class="card-image p-0 px-2 m-2" *ngIf="form.image.value">
              <!-- <button type="button" class="w-100 btn btn-danger border-round-0"
                              (click)="removeImage()">remove</button> -->
              <img class="p-0 w-100" title="images" alt="images" [src]="form.image.value" />
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 text-center">
        <button class="btn btn-primary" type="submit" [disabled]="countriesForm.invalid">
          <i class="bx bx-loader bx-spin font-size-16 align-middle me-2" *ngIf="loadingCountries"></i>
          <span *ngIf="lableForm == 1">{{'GENERAL.EDIT' | translate}}</span>
          <span *ngIf="lableForm == 0">{{'GENERAL.ADD' | translate}}</span>
        </button>
      </div>
    </form>
  </div>

</ng-template>