<div class="container-fluid">
    <div class="card">
        <div class="card-body row">
            <div class="col-6 d-flex align-items-center ">
                <h3 class="m-0">
                    <span *ngIf="ProjectId">{{'GENERAL.EDIT' | translate}}</span>
                    <span *ngIf="!ProjectId">{{'GENERAL.ADD' | translate}}</span>
                    {{'GENERAL.PROJECT' | translate}}
                </h3>
            </div>
            <div class="col-6 d-flex justify-content-end ">
                <div class="text-center">
                    <button class="btn btn-primary w-md" type="button" (click)="onSubmit()" [disabled]="ProjectForm.invalid">
                        <i class="bx bx-loader bx-spin font-size-16 align-middle me-2" *ngIf="loadingProjects"></i>
                        <span *ngIf="ProjectId">{{'GENERAL.EDIT' | translate}}</span>
                        <span *ngIf="!ProjectId">{{'GENERAL.ADD' | translate}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="loadingShow">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 300px;">
            <div class="spinner-border text-primary m-1" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-container>
    <div *ngIf="!loadingShow">
        <form class="needs-validation" [formGroup]="ProjectForm">
            <div class="card p-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="validationCustom01">{{'GENERAL.ENGLISH_NAME' | translate}} <span
                                    class="required">*</span></label>
                            <input type="text" class="form-control" id="validationCustom01"
                                formControlName="nameInEnglish"
                                [ngClass]="{'is-valid': form.nameInEnglish.dirty && !form.nameInEnglish.errors ,'is-invalid': form.nameInEnglish.dirty && form.nameInEnglish.errors}">
                            <div *ngIf="form.nameInEnglish.dirty && form.nameInEnglish.errors" class="invalid-feedback">
                                <span *ngIf="form.nameInEnglish.errors.required">This value is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="validationCustom01">{{'GENERAL.ARABIC_NAME' | translate}} 
                                <span class="required">*</span></label>
                            <input type="text" class="form-control" id="validationCustom01" formControlName="name"
                                [ngClass]="{'is-valid': form.name.dirty && !form.name.errors ,'is-invalid': form.name.dirty && form.name.errors}">
                            <div *ngIf="form.name.dirty && form.name.errors" class="invalid-feedback">
                                <span *ngIf="form.name.errors.required">This value is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label text-capitalize">{{'GENERAL.DEPARTMENTS' |
                                translate}} <span class="required">*</span></label>
                            <ng-select
                                [ngClass]="{'is-valid': form.department_Id.dirty && !form.department_Id.errors ,'is-invalid': form.department_Id.dirty && form.department_Id.errors}"
                                [items]="listOfDepartment" formControlName="department_Id" bindLabel="name"
                                bindValue="id"></ng-select>
                            <div *ngIf="form.department_Id.dirty && form.department_Id.errors" class="invalid-feedback">
                                <span *ngIf="form.department_Id.errors.required">This value is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="validationCustom01">{{'GENERAL.IMPLEMENTATIONPERIOD' | translate}}</label>
                            <input type="text" class="form-control" id="validationCustom01"
                                formControlName="ImplementationPeriod"
                                [ngClass]="{'is-valid': form.ImplementationPeriod.dirty && !form.ImplementationPeriod.errors ,'is-invalid': form.ImplementationPeriod.dirty && form.ImplementationPeriod.errors}">
                            <div *ngIf="form.ImplementationPeriod.dirty && form.ImplementationPeriod.errors"
                                class="invalid-feedback">
                                <span *ngIf="form.ImplementationPeriod.errors.required">This value is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="validationCustom01" class="form-label text-capitalize">{{'GENERAL.CLIENT' |
                                translate}}</label>
                            <ng-select [items]="ListOfClients" formControlName="Client_Id" bindLabel="name"
                                bindValue="id"></ng-select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="validationCustom01">{{'GENERAL.BUDGET' | translate}}</label>
                            <input type="text" class="form-control" id="validationCustom01" formControlName="Budget"
                                [ngClass]="{'is-valid': form.Budget.dirty && !form.Budget.errors ,'is-invalid': form.Budget.dirty && form.Budget.errors}">
                            <div *ngIf="form.Budget.dirty && form.Budget.errors" class="invalid-feedback">
                                <span *ngIf="form.Budget.errors.required">This value is required.</span>
                                <span *ngIf="form.Budget.errors.pattern">This value must be number</span>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label>{{'GENERAL.STARTDATE' | translate}} <span class="required">*</span></label>
                            <div class="input-group clockpicker">
                                <input ngbDatepicker class="form-control" formControlName="startDate" autoClose="true"
                                    placeholder="yyyy-mm-dd" #startDate="ngbDatepicker" (click)="startDate.toggle()">
                                <div class="input-group-append" (click)="startDate.toggle()">
                                    <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label>{{'GENERAL.ENDDATE' | translate}} <span class="required">*</span></label>
                            <div class="input-group clockpicker">
                                <input ngbDatepicker class="form-control" formControlName="endDate" autoClose="true"
                                    placeholder="yyyy-mm-dd" #endDate="ngbDatepicker" (click)="endDate.toggle()">
                                <div class="input-group-append" (click)="endDate.toggle()">
                                    <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>{{'GENERAL.DESCRIPTION' | translate}}</label>
                        <textarea type="text" class="form-control" formControlName="Description"
                            [ngClass]="{'is-valid': form.Description.dirty && !form.Description.errors ,'is-invalid': form.Description.dirty && form.Description.errors}"></textarea>
                        <div *ngIf="form.Description.dirty && form.Description.errors" class="invalid-feedback">
                            <span *ngIf="form.Description.errors.required">This
                                value is
                                required.</span>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <label class="form-label text-capitalize">{{'GENERAL.FILES' |
                            translate}}</label>
                        <div class="row" formArrayName="ProjectAttachments">
                            <div class="col" *ngIf="ProjectAttachments.controls.length == 0">
                                <div class="addImg" (click)="addformProjectAttachments()">
                                    <i class="bx bx-plus-medical"></i>
                                </div>
                            </div>
                            <ng-container *ngIf="ProjectAttachments.controls.length > 0">
                                <div *ngFor="let Attachment of ProjectAttachments.controls; let i = index">
                                    <ng-container [formGroupName]="i">
                                        <div class="row">
                                            <div class="col-5">
                                                <label for="formFile"
                                                    class="form-label text-capitalize">{{'GENERAL.IMAGE' |
                                                    translate}}
                                                    {{'GENERAL.FILES' |
                                                    translate}}</label>
                                                <input class="form-control" type="file" accept="image/*"
                                                    (change)="uploadeFiles($event , i)"
                                                    [ngClass]="{'is-valid': Attachment.get('File').dirty && !Attachment.get('File').errors ,'is-invalid': Attachment.get('File').dirty && Attachment.get('File').errors}">
                                                <div class="card-image p-0 px-2 m-2"
                                                    *ngIf="Attachment.get('path').value != null">
                                                    <div class="row">
                                                        <img class="p-0 w-100" title="images" accept="image/*"
                                                            alt="images" [src]="Attachment.value.path" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-5">
                                                <label>{{'GENERAL.DESCRIPTION' | translate}}</label>
                                                <input type="text" class="form-control" formControlName="Description"
                                                    [ngClass]="{'is-valid': Attachment.get('Description').dirty && !Attachment.get('Description').errors ,'is-invalid': Attachment.get('Description').dirty && Attachment.get('Description').errors}">
                                                <div *ngIf="Attachment.get('Description').dirty && Attachment.get('Description').errors"
                                                    class="invalid-feedback">
                                                    <span *ngIf="Attachment.get('Description').errors.required">This
                                                        value is
                                                        required.</span>
                                                </div>
                                            </div>
                                            <div class="col-1" *ngIf="i == ProjectAttachments.controls.length - 1">
                                                <label class="hide-lable d-block">.</label>
                                                <button type="button" class="btn btn-success"
                                                    (click)="addformProjectAttachments()">+</button>
                                            </div>
                                            <div class="col-1">
                                                <label class="hide-lable d-block">.</label>
                                                <button type="button" *ngIf="Attachment.get('id').value"
                                                    class="btn btn-danger"
                                                    (click)="RemoveImage(Attachment.get('id').value);"><i
                                                        class="bx bxs-trash"></i></button>
                                                <button type="button" *ngIf="!Attachment.get('id').value"
                                                    class="btn btn-danger" (click)="deleteformProjectAttachments(i)"><i
                                                        class="bx bxs-trash"></i></button>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>