<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body row">
                    <div class="col-6 d-flex align-items-center ">
                        <h3 class="m-0">{{'MENUITEMS.EMPLOYEES.TEXT' | translate}}</h3>
                    </div>
                    <div class="col-6 d-flex justify-content-end ">
                        <button class="btn btn-primary w-md" (click)="openModal(addEmployee , 0)">
                            {{'GENERAL.ADD' | translate}} {{'GENERAL.EMPLOYEE' | translate}}
                            <i class="bx bx-plus-medical"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ng-container *ngFor="let list of allEmployees">
            <div class="col-xl-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="float-end dropdown ms-2" ngbDropdown>
                            <a class="text-muted dropdown-toggle" href="javascript: void(0);" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                <i class="mdi mdi-dots-horizontal font-size-18"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                <a class="dropdown-item" href="javascript: void(0);"
                                    (click)="patchValueForm( addEmployee , list )">Edit</a>
                                <a class="dropdown-item" href="javascript: void(0);"
                                    (click)="delete(list.id)">Delete</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="text-lg-center">
                                    <div *ngIf="!list.imagePath"
                                        class="avatar-sm me-3 mx-lg-auto mb-3 float-start float-lg-none">
                                        <span
                                            class="avatar-title rounded-circle bg-soft bg-primary text-primary font-size-16">
                                            {{ list.name.charAt(0)}}
                                        </span>
                                    </div>
                                    <img *ngIf="list.imagePath" [src]="pathUrl+list.imagePath"
                                        class="avatar-sm me-3 mx-lg-auto mb-3 mt-1 float-start float-lg-none rounded-circle"
                                        alt="img">
                                    <h5 class="mb-1 font-size-15 text-truncate">{{ list.name }}</h5>
                                    <p class="text-muted small m-0">{{list.nationalId}}</p>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <a class="d-block text-primary mb-2">{{ list.code }}</a>
                                    <p class="text-muted small m-0"><i class="bx bx-phone-call me-1 text-muted"></i>
                                        {{list.mobile}}</p>
                                    <p class="text-muted small m-0">{{list.qualification}}</p>
                                    <h5 class="text-truncate my-1 badge rounded-pill badge-soft-primary">{{ list.jobName
                                        }}</h5>
                                    <h5 class="text-truncate my-1 mx-1 badge rounded-pill badge-soft-primary">{{
                                        list.statusName }}</h5>
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item me-3">
                                            <h5 class="font-size-14" placement="top" ngbTooltip="Amount"><i
                                                    class="bx bx-money me-1 text-muted"></i> {{ list.salary}}</h5>
                                        </li>
                                        <li class="list-inline-item">
                                            <h5 class="font-size-14" placement="top" ngbTooltip="Hire Date"><i
                                                    class="bx bx-calendar me-1 text-muted"></i> {{list.hireDate}}</h5>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

</div>


<ng-template #addEmployee role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">
            <span *ngIf="lableForm == 1">{{'GENERAL.EDIT' | translate}}</span>
            <span *ngIf="lableForm == 0">{{'GENERAL.ADD' | translate}}</span>
            {{ 'GENERAL.EMPLOYEE' | translate }}
        </h5>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <ng-container *ngIf="loadingShow && lableForm == 1">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 300px;">
            <div class="spinner-border text-primary m-1" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-container>
    <div class="modal-body" *ngIf="!loadingShow || lableForm == 0">
        <form class="needs-validation" (ngSubmit)="onSubmit()" [formGroup]="EmployeeForm">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="mb-3">
                        <label>{{'GENERAL.CODE' | translate}}</label>
                        <input type="text" class="form-control" formControlName="Code"
                            [ngClass]="{'is-valid': form.Code.dirty && !form.Code.errors ,'is-invalid': form.Code.dirty && form.Code.errors}">
                        <div *ngIf="form.Code.dirty && form.Code.errors" class="invalid-feedback">
                            <span *ngIf="form.Code.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="mb-3">
                        <label class="d-block">{{'GENERAL.IsEmployeeManager' | translate}}</label>
                        <ui-switch defaultBoColor="#dfdfdf" formControlName="IsDepartmentManager" color="#576CBC"
                            size="small" [checked]="form.IsDepartmentManager.value == true" class="ms-1"></ui-switch>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="mb-3">
                        <label>{{'GENERAL.ENGLISH_NAME' | translate}}</label>
                        <input type="text" class="form-control" formControlName="NameInEnglish"
                            [ngClass]="{'is-valid': form.NameInEnglish.dirty && !form.NameInEnglish.errors ,'is-invalid': form.NameInEnglish.dirty && form.NameInEnglish.errors}">
                        <div *ngIf="form.NameInEnglish.dirty && form.NameInEnglish.errors" class="invalid-feedback">
                            <span *ngIf="form.NameInEnglish.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="mb-3">
                        <label>{{'GENERAL.ARABIC_NAME' | translate}}</label>
                        <input type="text" class="form-control" formControlName="Name"
                            [ngClass]="{'is-valid': form.Name.dirty && !form.Name.errors ,'is-invalid': form.Name.dirty && form.Name.errors}">
                        <div *ngIf="form.Name.dirty && form.Name.errors" class="invalid-feedback">
                            <span *ngIf="form.Name.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3" *ngIf="lableForm == 0">
                        <label class="form-label text-capitalize">{{'GENERAL.EMAIL' | translate}}</label>
                        <div>
                            <input type="email" class="form-control" formControlName="Email"
                                [ngClass]="{'is-valid': form.Email.dirty && !form.Email.errors ,'is-invalid': form.Email.dirty && form.Email.errors}" />
                            <div *ngIf="form.Email.dirty && form.Email.errors" class="invalid-feedback">
                                <span *ngIf="form.Email.errors.required">This value is required.</span>
                                <span *ngIf="form.Email.errors.pattern">This value should be a valid Email.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="mb-3">
                        <label>{{'GENERAL.MOBILE' | translate}}</label>
                        <input type="text" class="form-control" formControlName="Mobile"
                            [ngClass]="{'is-valid': form.Mobile.dirty && !form.Mobile.errors ,'is-invalid': form.Mobile.dirty && form.Mobile.errors}">
                        <div *ngIf="form.Mobile.dirty && form.Mobile.errors" class="invalid-feedback">
                            <span *ngIf="form.Mobile.errors.pattern">This value must be number</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="mb-3">
                        <label>{{'GENERAL.NATIONALID' | translate}}</label>
                        <input type="text" class="form-control" formControlName="NationalId"
                            [ngClass]="{'is-valid': form.NationalId.dirty && !form.NationalId.errors ,'is-invalid': form.NationalId.dirty && form.NationalId.errors}">
                        <div *ngIf="form.NationalId.dirty && form.NationalId.errors" class="invalid-feedback">
                            <span *ngIf="form.NationalId.errors.pattern">This value must be number</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="mb-3">
                        <label>{{'GENERAL.ADDRESS' | translate}}</label>
                        <input type="text" class="form-control" formControlName="Address"
                            [ngClass]="{'is-valid': form.Address.dirty && !form.Address.errors ,'is-invalid': form.Address.dirty && form.Address.errors}">
                        <div *ngIf="form.Address.dirty && form.Address.errors" class="invalid-feedback">
                            <span *ngIf="form.Address.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="mb-3">
                        <label>{{'GENERAL.UNIVERSITY' | translate}}</label>
                        <input type="text" class="form-control" formControlName="University"
                            [ngClass]="{'is-valid': form.University.dirty && !form.University.errors ,'is-invalid': form.University.dirty && form.University.errors}">
                        <div *ngIf="form.University.dirty && form.University.errors" class="invalid-feedback">
                            <span *ngIf="form.University.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="mb-3">
                        <label>{{'GENERAL.QUALIFICATION' | translate}}</label>
                        <input type="text" class="form-control" formControlName="Qualification"
                            [ngClass]="{'is-valid': form.Qualification.dirty && !form.Qualification.errors ,'is-invalid': form.Qualification.dirty && form.Qualification.errors}">
                        <div *ngIf="form.Qualification.dirty && form.Qualification.errors" class="invalid-feedback">
                            <span *ngIf="form.Qualification.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="mb-3">
                        <label>{{'GENERAL.SALARY' | translate}}</label>
                        <input type="text" class="form-control" formControlName="Salary"
                            [ngClass]="{'is-valid': form.Salary.dirty && !form.Salary.errors ,'is-invalid': form.Salary.dirty && form.Salary.errors}">
                        <div *ngIf="form.Salary.dirty && form.Salary.errors" class="invalid-feedback">
                            <span *ngIf="form.Salary.errors.pattern">This value must be number</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3">
                        <label class="form-label text-capitalize">{{'GENERAL.MilitaryStatus' |
                            translate}}</label>
                        <ng-select
                            [ngClass]="{'is-valid': form.MilitaryStatus_Id.dirty && !form.MilitaryStatus_Id.errors ,'is-invalid': form.MilitaryStatus_Id.dirty && form.MilitaryStatus_Id.errors}"
                            [items]="listOfMilitaryStatus" formControlName="MilitaryStatus_Id" bindLabel="name"
                            bindValue="id"></ng-select>
                        <div *ngIf="form.MilitaryStatus_Id.dirty && form.MilitaryStatus_Id.errors"
                            class="invalid-feedback">
                            <span *ngIf="form.MilitaryStatus_Id.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3">
                        <label class="form-label text-capitalize">{{'GENERAL.MaritalStatus' |
                            translate}}</label>
                        <ng-select
                            [ngClass]="{'is-valid': form.MaritalStatus_Id.dirty && !form.MaritalStatus_Id.errors ,'is-invalid': form.MaritalStatus_Id.dirty && form.MaritalStatus_Id.errors}"
                            [items]="listOfMaritalStatus" formControlName="MaritalStatus_Id" bindLabel="name"
                            bindValue="id"></ng-select>
                        <div *ngIf="form.MaritalStatus_Id.dirty && form.MaritalStatus_Id.errors"
                            class="invalid-feedback">
                            <span *ngIf="form.MaritalStatus_Id.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3">
                        <label class="form-label text-capitalize">{{'GENERAL.Status' |
                            translate}}</label>
                        <ng-select
                            [ngClass]="{'is-valid': form.Status_Id.dirty && !form.Status_Id.errors ,'is-invalid': form.Status_Id.dirty && form.Status_Id.errors}"
                            [items]="listOfStatus" formControlName="Status_Id" bindLabel="name"
                            bindValue="id"></ng-select>
                        <div *ngIf="form.Status_Id.dirty && form.Status_Id.errors" class="invalid-feedback">
                            <span *ngIf="form.Status_Id.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3">
                        <label class="form-label text-capitalize">{{'GENERAL.STATES' |
                            translate}}</label>
                        <ng-select
                            [ngClass]="{'is-valid': form.state_Id.dirty && !form.state_Id.errors ,'is-invalid': form.state_Id.dirty && form.state_Id.errors}"
                            [items]="listOfStates" formControlName="state_Id" (change)="getListOfRegions($event?.id)"
                            bindLabel="name" bindValue="id"></ng-select>
                        <div *ngIf="form.state_Id.dirty && form.state_Id.errors" class="invalid-feedback">
                            <span *ngIf="form.state_Id.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3">
                        <label class="form-label text-capitalize">{{'GENERAL.REGION' |
                            translate}}</label>
                        <ng-select
                            [ngClass]="{'is-valid': form.Region_Id.dirty && !form.Region_Id.errors ,'is-invalid': form.Region_Id.dirty && form.Region_Id.errors}"
                            [items]="listOfRegion" formControlName="Region_Id" bindLabel="name"
                            bindValue="id"></ng-select>
                        <div *ngIf="form.Region_Id.dirty && form.Region_Id.errors" class="invalid-feedback">
                            <span *ngIf="form.Region_Id.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3">
                        <label class="form-label text-capitalize">{{'GENERAL.GENDER' |
                            translate}}</label>
                        <ng-select
                            [ngClass]="{'is-valid': form.Gender_Id.dirty && !form.Gender_Id.errors ,'is-invalid': form.Gender_Id.dirty && form.Gender_Id.errors}"
                            [items]="listOfGender" formControlName="Gender_Id" bindLabel="name"
                            bindValue="id"></ng-select>
                        <div *ngIf="form.Gender_Id.dirty && form.Gender_Id.errors" class="invalid-feedback">
                            <span *ngIf="form.Gender_Id.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3">
                        <label class="form-label text-capitalize">{{'GENERAL.DEPARTMENTS' |
                            translate}}</label>
                        <ng-select
                            [ngClass]="{'is-valid': form.department_Id.dirty && !form.department_Id.errors ,'is-invalid': form.department_Id.dirty && form.department_Id.errors}"
                            [items]="listOfDepartment" formControlName="department_Id"
                            (change)="getListOfJob($event?.id)" bindLabel="name" bindValue="id"></ng-select>
                        <div *ngIf="form.department_Id.dirty && form.department_Id.errors" class="invalid-feedback">
                            <span *ngIf="form.department_Id.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3">
                        <label class="form-label text-capitalize">{{'GENERAL.JOBS' |
                            translate}}</label>
                        <ng-select
                            [ngClass]="{'is-valid': form.Job_Id.dirty && !form.Job_Id.errors ,'is-invalid': form.Job_Id.dirty && form.Job_Id.errors}"
                            [items]="listOfJob" formControlName="Job_Id" bindLabel="name" bindValue="id"></ng-select>
                        <div *ngIf="form.Job_Id.dirty && form.Job_Id.errors" class="invalid-feedback">
                            <span *ngIf="form.Job_Id.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6" *ngIf="form.SuperVisor_Id.value !== 0">
                    <div class="mb-3">
                        <label class="form-label text-capitalize">{{'GENERAL.EMPLOYEES' |
                            translate}}</label>
                        <ng-select
                            [ngClass]="{'is-valid': form.SuperVisor_Id.dirty && !form.SuperVisor_Id.errors ,'is-invalid': form.SuperVisor_Id.dirty && form.SuperVisor_Id.errors}"
                            [items]="listOfEmployees" formControlName="SuperVisor_Id" bindLabel="name"
                            bindValue="id"></ng-select>
                        <div *ngIf="form.SuperVisor_Id.dirty && form.SuperVisor_Id.errors" class="invalid-feedback">
                            <span *ngIf="form.SuperVisor_Id.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3">
                        <label>{{'GENERAL.HIREDATE' | translate}}</label>
                        <div class="input-group clockpicker" #date1>
                            <input ngbDatepicker [positionTarget]="date1" [placement]="placement" class="form-control"
                                formControlName="HireDate" autoClose="false" placeholder="yyyy-mm-dd"
                                #startDate="ngbDatepicker" (click)="startDate.toggle()">
                            <div class="input-group-append" (click)="startDate.toggle()">
                                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3">
                        <label>{{'GENERAL.BIRTHDATE' | translate}}</label>
                        <div class="input-group clockpicker" #date2>
                            <input ngbDatepicker [positionTarget]="date2" [placement]="placement" class="form-control"
                                formControlName="GraduateDate" autoClose="false" placeholder="yyyy-mm-dd"
                                #endDate="ngbDatepicker" (click)="endDate.toggle()">
                            <div class="input-group-append" (click)="endDate.toggle()">
                                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3">
                        <label>{{'GENERAL.GRADUATEDATE' | translate}}</label>
                        <div class="input-group clockpicker" #date3>
                            <input ngbDatepicker [positionTarget]="date3" [placement]="placement" class="form-control"
                                formControlName="BirthDate" autoClose="false" placeholder="yyyy-mm-dd"
                                #hireDate="ngbDatepicker" (click)="hireDate.toggle()">
                            <div class="input-group-append" (click)="hireDate.toggle()">
                                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label for="formFile" class="form-label text-capitalize">{{'GENERAL.IMAGE' | translate}}
                                    {{'GENERAL.FACTORY' |
                                    translate}}</label>
                                <input class="form-control" type="file" accept="image/*" (change)="uploadeImage($event)"
                                    [ngClass]="{'is-valid': form.ImagePath.dirty && !form.ImagePath.errors ,'is-invalid': form.ImagePath.dirty && form.ImagePath.errors}">
                                <div class="card-image p-0 px-2 m-2">
                                    <!-- <button type="button" class="w-100 btn btn-danger border-round-0"
                                      (click)="removeImage()">remove</button> -->
                                    <img class="p-0 w-100" title="images" accept="image/*" alt="images"
                                        [src]="form.ImagePath.value" *ngIf="image" />
                                    <img class="p-0 w-100" title="images" accept="image/*" alt="images"
                                        [src]="pathUrl + form.ImagePath.value" *ngIf="form.ImagePath.value" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label for="formFile" class="form-label text-capitalize">{{'GENERAL.IMAGE' | translate}}
                                    {{'GENERAL.commercial_register_image' |
                                    translate}}</label>
                                <input class="form-control" type="file" accept="image/*"
                                    (change)="uploadeCoverPath($event)"
                                    [ngClass]="{'is-valid': form.CoverPath.dirty && !form.CoverPath.errors ,'is-invalid': form.CoverPath.dirty && form.CoverPath.errors}">
                                <div class="card-image p-0 px-2 m-2" *ngIf="form.CoverPath.value">
                                    <!-- <button type="button" class="w-100 btn btn-danger border-round-0"
                                      (click)="removeImage()">remove</button> -->
                                    <img class="p-0 w-100" title="images" accept="image/*" alt="images"
                                        [src]="form.CoverPath.value" *ngIf="lableForm == 0" />
                                    <img class="p-0 w-100" title="images" accept="image/*" alt="images"
                                        [src]="pathUrl + form.CoverPath.value" *ngIf="lableForm == 1" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label for="formFile" class="form-label text-capitalize">{{'GENERAL.IMAGE' | translate}}
                                    {{'GENERAL.tax_card_front_image' |
                                    translate}}</label>
                                <input class="form-control" type="file" accept="image/*" (change)="uploadeFiles($event)"
                                    [ngClass]="{'is-valid': form.Files.dirty && !form.Files.errors ,'is-invalid': form.Files.dirty && form.Files.errors}">
                                <div class="card-image p-0 px-2 m-2" *ngIf="form.Files.value">
                                    <!-- <button type="button" class="w-100 btn btn-danger border-round-0"
                                      (click)="removeImage()">remove</button> -->
                                    <img class="p-0 w-100" title="images" accept="image/*" alt="images"
                                        [src]="form.Files.value" *ngIf="lableForm == 0" />
                                    <img class="p-0 w-100" title="images" accept="image/*" alt="images"
                                        [src]="pathUrl + form.Files.value" *ngIf="lableForm == 1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 text-center">
                <button class="btn btn-primary" type="submit" [disabled]="EmployeeForm.invalid">
                    <i class="bx bx-loader bx-spin font-size-16 align-middle me-2" *ngIf="loadingEmployees"></i>
                    {{lableForm == 0 ? 'ADD': 'EDIT'}}
                </button>
            </div>
        </form>
    </div>
</ng-template>