<ul class="verti-timeline list-unstyled">
    <li class="event-list">
      <div class="event-timeline-dot bg-dot">
        <i class="bx bx-server h4 m-0 text-primary" [class]=""></i>
      </div>
      <div class="media">
        <div class="media-body">
          <div>
            <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">Back end Developer</a></h5>
            <span class="text-primary">2016 - 19</span>
          </div>
        </div>
      </div>
    </li>
    <li class="event-list">
      <div class="event-timeline-dot bg-dot">
        <i class="bx bx-code h4 m-0 text-primary"></i>
      </div>
      <div class="media">
        <div class="media-body">
          <div>
            <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">Front end Developer</a></h5>
            <span class="text-primary">2013 - 16</span>
          </div>
        </div>
      </div>
    </li>
    <li class="event-list">
      <div class="event-timeline-dot bg-dot">
        <i class="bx bx-edit h4 m-0 text-primary"></i>
      </div>
      <div class="media">
        <div class="media-body">
          <div>
            <h5 class="font-size-15"><a href="javascript: void(0);" class="text-dark">UI /UX Designer</a></h5>
            <span class="text-primary">2011 - 13</span>
          </div>
        </div>
      </div>
    </li>
  </ul>