<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body row">
                    <div class="col-6 d-flex align-items-center ">
                        <h3 class="m-0">{{'MENUITEMS.CLIENTS.TEXT' | translate}}</h3>
                    </div>
                    <div class="col-6 d-flex justify-content-end ">
                        <button *ngIf="_AuthenticationService.checkPermission('Permissions.Clients.Create')" class="btn btn-primary w-md" (click)="openModal(addClient , 0)">
                            {{'GENERAL.ADD' | translate}} {{'GENERAL.CLIENT' | translate}}
                            <i class="bx bx-plus-medical"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="loader">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 300px;">
            <div class="spinner-border text-primary m-1" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!loader && clientsData.length > 0">
        <div class="row">
            <div style="min-width: 500px;">
                <table class="table project-list-table table-nowrap align-middle table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">{{'GENERAL.NAME' | translate}}</th>
                            <th scope="col">{{'GENERAL.EMAIL' | translate}}</th>
                            <th scope="col">{{'GENERAL.MOBILE_NUMBER' | translate}}</th>
                            <th scope="col">{{'GENERAL.ACTIVE' | translate}}</th>
                            <th scope="col">{{'GENERAL.ACTIVE' | translate}} / {{'GENERAL.NOTACTIVE' | translate}}</th>
                            <th scope="col">{{'GENERAL.COMMUNICATIONWAYS' | translate}}</th>
                            <th scope="col" class="text-center">{{'GENERAL.ACTION' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of clientsData;">
                            <td>
                                <h5 class="text-truncate font-size-14">
                                    <a href="javascript: void(0);" class="text-dark">{{data.name}}</a>
                                </h5>
                            </td>
                            <td>{{data.email}}</td>
                            <td>{{data.mobile}}</td>
                            <td>
                                <span class="badge" [class]="data.isActive == true ? 'bg-success':'bg-warning'">
                                    <span *ngIf="data.isActive == true">{{'GENERAL.ACTIVE' | translate}}</span>
                                    <span *ngIf="data.isActive == false">{{'GENERAL.NOTACTIVE' | translate}}</span>
                                </span>
                            </td>
                            <td class="text-center">
                                <ui-switch defaultBoColor="#dfdfdf" (change)="ChangeActiveOrNotDepartment(data.id)"
                                    [checked]="data.isActive == true" size="small"
                                    class="d-flex justify-content-center"></ui-switch>
                            </td>
                            <td>
                                {{data.communicationWayName}}
                            </td>
                            <td class="d-flex">
                                <div ngbDropdown>
                                    <div class="dropdown  active">
                                        <button class="btn dropdown-toggle" type="button" ngbDropdownToggle>
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                            <div class="dropdown-item" *ngIf="_AuthenticationService.checkPermission('Permissions.Clients.Edit')">
                                                <button class="btn btn-light w-100 py-1" type="button"
                                                    [disabled]="!data.isActive"
                                                    (click)="patchValueForm(addClient,data);getUpdateClients(data.id)">{{'GENERAL.EDIT'
                                                    | translate}}<i class="ms-1 bx bx-edit"></i></button>
                                            </div>
                                            <div class="dropdown-item" >
                                                <button class="btn btn-light w-100 py-1" type="button"
                                                    (click)="viewClientDetails(viewClient,data.id)">{{'GENERAL.VIEW' |
                                                    translate}}<i class="mdi mdi-eye-outline ms-1"></i></button>
                                            </div>
                                            <div class="dropdown-item" *ngIf="_AuthenticationService.checkPermission('Permissions.Clients.Delete')">
                                                <button class="btn btn-light w-100 py-1" type="button"
                                                    (click)="delete(data.id)">{{'GENERAL.DELETE' |
                                                    translate}}<i class="bx bx-trash"></i></button>
                                            </div>
                                            <div class="col-12" style="min-width: 120px;" *ngIf="_AuthenticationService.checkPermission('Permissions.Clients.Edit')">
                                                <ng-select [items]="listOfClientCommunicationWays"
                                                (change)="EditClientCommunicationWay(data.id , $event.id)"
                                                    [(ngModel)]="data.clientCommunicationWay_Id" bindLabel="name"
                                                    bindValue="id"></ng-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!loader && clientsData.length == 0">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 300px;">
            <div class="alert alert-warning fade text-center show px-3 mb-0" role="alert">
                <div class="mb-3">
                    <i class="bx bx-error-alt h1  text-warning"></i>
                </div>

                <div class="text-center">
                    <h5 class="text-warning ">Not Found Result</h5>
                    <div class="text-center">
                        <button type="button" (click)="goBack" class="btn btn-link text-decoration-none text-warning">
                            <i class="mdi mdi-arrow-left"></i>Back</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<!-- Add Modal -->
<ng-template #addClient let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">
            <span *ngIf="lableForm == 1">{{'GENERAL.EDIT' | translate}}</span>
            <span *ngIf="lableForm == 0">{{'GENERAL.ADD' | translate}}</span>
            {{ 'GENERAL.CLIENT' | translate }}
        </h5>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <ng-container *ngIf="loadingShow && lableForm == 1">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 300px;">
            <div class="spinner-border text-primary m-1" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-container>

    <div class="modal-body" *ngIf="!loadingShow || lableForm == 0">
        <form class="needs-validation" (ngSubmit)="onSubmit()" [formGroup]="clientsForm">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3">
                        <label for="validationCustom01" class="form-label text-capitalize">{{'GENERAL.ARABIC_NAME' |
                            translate}}</label>
                        <input type="text" class="form-control" id="validationCustom01" formControlName="name"
                            [ngClass]="{'is-valid': form.name.dirty && !form.name.errors ,'is-invalid': form.name.dirty && form.name.errors}">
                        <div *ngIf="form.name.dirty && form.name.errors" class="invalid-feedback">
                            <span *ngIf="form.name.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3">
                        <label for="validationCustom01" class="form-label text-capitalize">{{'GENERAL.ENGLISH_NAME' |
                            translate}}</label>
                        <input type="text" class="form-control" id="validationCustom01" formControlName="nameInEnglish"
                            [ngClass]="{'is-valid': form.nameInEnglish.dirty && !form.nameInEnglish.errors ,'is-invalid': form.nameInEnglish.dirty && form.nameInEnglish.errors}">
                        <div *ngIf="form.nameInEnglish.dirty && form.nameInEnglish.errors" class="invalid-feedback">
                            <span *ngIf="form.nameInEnglish.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3">
                        <label class="form-label text-capitalize">{{'GENERAL.EMAIL' | translate}}</label>
                        <div>
                            <input type="email" class="form-control" formControlName="email"
                                [ngClass]="{'is-valid': form.email.dirty && !form.email.errors ,'is-invalid': form.email.dirty && form.email.errors}" />
                            <div *ngIf="form.email.dirty && form.email.errors" class="invalid-feedback">
                                <span *ngIf="form.email.errors.required">This value is required.</span>
                                <span *ngIf="form.email.errors.email">This value should be a valid email.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3">
                        <label for="validationCustom01" class="form-label text-capitalize">{{'GENERAL.COMPANY' |
                            translate}}</label>
                        <input type="text" class="form-control" id="validationCustom01" formControlName="company"
                            [ngClass]="{'is-valid': form.company.dirty && !form.company.errors ,'is-invalid': form.company.dirty && form.company.errors}">
                        <div *ngIf="form.company.dirty && form.company.errors" class="invalid-feedback">
                            <span *ngIf="form.company.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3">
                        <label for="validationCustom01" class="form-label text-capitalize">{{'GENERAL.MOBILE_NUMBER' |
                            translate}}</label>
                        <input type="text" class="form-control" id="validationCustom01" formControlName="mobile"
                            [ngClass]="{'is-valid': form.mobile.dirty && !form.mobile.errors ,'is-invalid': form.mobile.dirty && form.mobile.errors}">
                        <div *ngIf="form.mobile.dirty && form.mobile.errors" class="invalid-feedback">
                            <span *ngIf="form.mobile.errors.required">This value is required.</span>
                            <span *ngIf="form.mobile.errors.pattern">This value must be number</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3">
                        <label for="validationCustom01"
                            class="form-label text-capitalize">{{'GENERAL.GENERALMANAGERNAME' |
                            translate}}</label>
                        <input type="text" class="form-control" id="validationCustom01"
                            formControlName="generalManagerName"
                            [ngClass]="{'is-valid': form.generalManagerName.dirty && !form.generalManagerName.errors ,'is-invalid': form.generalManagerName.dirty && form.generalManagerName.errors}">
                        <div *ngIf="form.generalManagerName.dirty && form.generalManagerName.errors"
                            class="invalid-feedback">
                            <span *ngIf="form.generalManagerName.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3">
                        <label for="validationCustom01" class="form-label text-capitalize">{{'GENERAL.SALESMANAGERNAME'
                            |
                            translate}}</label>
                        <input type="text" class="form-control" id="validationCustom01"
                            formControlName="salesManagerName"
                            [ngClass]="{'is-valid': form.salesManagerName.dirty && !form.salesManagerName.errors ,'is-invalid': form.salesManagerName.dirty && form.salesManagerName.errors}">
                        <div *ngIf="form.salesManagerName.dirty && form.salesManagerName.errors"
                            class="invalid-feedback">
                            <span *ngIf="form.salesManagerName.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3">
                        <label for="validationCustom01" class="form-label text-capitalize">{{'GENERAL.ADDRESS' |
                            translate}}</label>
                        <input type="text" class="form-control" id="validationCustom01" formControlName="address"
                            [ngClass]="{'is-valid': form.address.dirty && !form.address.errors ,'is-invalid': form.address.dirty && form.address.errors}">
                        <div *ngIf="form.address.dirty && form.address.errors" class="invalid-feedback">
                            <span *ngIf="form.address.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3">
                        <label for="validationCustom01" class="form-label text-capitalize">{{'GENERAL.DEPARTMENT' |
                            translate}}</label>
                        <ng-select [items]="listOfDepartment" formControlName="department_Id" bindLabel="name"
                            bindValue="id"></ng-select>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3">
                        <label for="validationCustom01" class="form-label text-capitalize">{{'GENERAL.JOBCATEGORY' |
                            translate}}</label>
                        <ng-select [items]="ListOfClientJobCategories" formControlName="clientJobCategory_Id"
                            (change)="getListOfClientJobs($event.id)" bindLabel="name" bindValue="id"></ng-select>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="mb-3">
                        <label for="validationCustom01" class="form-label text-capitalize">{{'GENERAL.CLIENTJOB' |
                            translate}}</label>
                        <ng-select [items]="ListOfClientJobs" formControlName="clientJob_Id" bindLabel="name"
                            bindValue="id"></ng-select>
                    </div>
                </div>
            </div>
            <div class="w-100 text-center">
                <button class="btn btn-primary" type="submit" [disabled]="clientsForm.invalid">
                    <i class="bx bx-loader bx-spin font-size-16 align-middle me-2" *ngIf="loadingclients"></i>
                    <span *ngIf="lableForm == 1">{{'GENERAL.EDIT' | translate}}</span>
                    <span *ngIf="lableForm == 0">{{'GENERAL.ADD' | translate}}</span>
                </button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #viewClient let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <ng-container *ngIf="loadingShow">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 300px;">
            <div class="spinner-border text-primary m-1" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-container>
    <div class="modal-body" *ngIf="!loadingShow">
        <section id="content" class="container">
            <div class="page-heading my-3">
                <div class="media clearfix">
                    <div class="media-body va-m">
                        <h2 class="media-heading">{{clientDetails.name}}
                            <small> - {{clientDetails.company}}</small>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-icon">
                                <i class="fa fa-star"></i>
                            </span>
                            <span class="panel-title"> Client Details</span>
                        </div>
                        <div class="panel-body pn">
                            <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
                                <thead>
                                    <tr class="hidden">
                                        <!-- <th class="mw30">#</th> -->
                                        <th>#</th>
                                        <th>Detail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>name</td>
                                        <td>
                                            {{clientDetails.name}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>email</td>
                                        <td>
                                            {{clientDetails.email}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>address</td>
                                        <td>
                                            {{clientDetails.address}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>mobile</td>
                                        <td>
                                            {{clientDetails.mobile}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>company</td>
                                        <td>
                                            {{clientDetails.company}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>department</td>
                                        <td>
                                            {{clientDetails.departmentName}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>generalManagerName</td>
                                        <td>
                                            {{clientDetails.generalManagerName}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>salesManagerName</td>
                                        <td>
                                            {{clientDetails.salesManagerName}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Activity</td>
                                        <td>
                                            {{clientDetails.activity}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <app-comments-client [Data]="allClientComments" [client_Id]="client_Id"
                    (reloadeClientComments)="GetAllClientsComments()"></app-comments-client>
            </div>
        </section>
    </div>
</ng-template>