<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body row">
                    <div class="col-6 d-flex align-items-center ">
                        <h3 class="m-0">{{ 'MENUITEMS.COMPANIES.TEXT' | translate }}</h3>
                    </div>
                    <div class="col-6 d-flex justify-content-end ">
                        <div class="btn btn-primary w-md" (click)="openModal(addCompany , 0)">
                            {{'GENERAL.ADD' | translate}}
                            {{'GENERAL.COMPANY' | translate}}<i class="bx bx-plus-medical ms-1"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ng-container *ngIf="loadingAllCompanies">
            <div class="d-flex justify-content-center align-items-center" style="min-height: 300px;">
                <div class="spinner-border text-primary m-1" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="!loadingAllCompanies">
            <div class="col-xl-3 col-sm-6" *ngFor="let data of allCompanies">
                <div class="card text-center">
                    <div class="card-body row">

                        <div class="col-4">
                            <div class="avatar-md mx-auto mb-4">
                                <span class="avatar-title rounded-circle bg-soft bg-primary text-primary font-size-16">
                                    {{data.name.charAt(0) | uppercase}}
                                </span>
                            </div>
                        </div>
                        <div class="col-6 text-start">
                            <h5 class="font-size-15 mb-1"><a href="javascript: void(0);"
                                    class="text-dark">{{data.name}}</a>
                            </h5>
                            <div>
                                <a href="javascript: void(0);"
                                    [class]="data.isActive  == true ? 'bg-success': 'bg-warning'"
                                    class="badge font-size-11 my-1">
                                    <span *ngIf="data.isActive == true">{{'GENERAL.ACTIVE' | translate}}</span>
                                    <span *ngIf="data.isActive == false">{{'GENERAL.NOTACTIVE' | translate}}</span>
                                </a>
                            </div>
                            <div class="flex-fill d-flex align-items-center my-1">
                                <ui-switch defaultBoColor="#dfdfdf" color="#34c38f"
                                    (change)="ChangeActiveOrNotCompany(data.id)" [checked]="data.isActive == true"
                                    size="small" class="d-flex"></ui-switch>
                            </div>
                        </div>
                        <div class="col-2">
                        <div ngbDropdown >
                            <div class="dropdown">
                                <button class="btn dropdown-toggle p-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" ngbDropdownToggle>
                                    <i class="mdi mdi-dots-horizontal"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                    <!-- <a class="dropdown-item" (click)="patchValueForm(addCompany , data)" href="javascript: void(0);"
                                        ><i class="bx bx-edit"></i>Edit</a> -->
                                    <a class="dropdown-item" href="javascript: void(0);" (click)="remove(data.id)"><i
                                            class="bx bx-trash"></i>Delete</a>
                                </div>
                            </div>
                        </div> 
                    </div>
                    </div>
                    <div class="card-footer bg-transparent border-top">
                        <div class="contact-links d-flex font-size-20">
                            <div class="flex-fill">
                                <button class="btn btn-outline-primary py-1" type="button"
                                    [routerLink]="[data.id,'departments']">{{'MENUITEMS.DEPARTMENTS.TEXT' |
                                    translate}}<i class="ms-1 bx bx-show"></i></button>
                            </div>
                            <div class="flex-fill">
                                <button class="btn btn-outline-info py-1" type="button"
                                    [routerLink]="[data.id,'employees']">{{'MENUITEMS.EMPLOYEES.TEXT' |
                                    translate}}<i class="ms-1 bx bx-show"></i></button>
                            </div>
                            <!-- <div class="flex-fill">
                                <a href="javascript: void(0);" ngbTooltip="Edit" (click)="patchValueForm(addCompany,data)"><i class="bx bx-edit"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

    </div>
    <!-- end row -->

</div> <!-- container-fluid -->


<ng-template #addCompany role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">
            <span *ngIf="lableForm == 1">{{'GENERAL.EDIT' | translate}}</span>
            <span *ngIf="lableForm == 0">{{'GENERAL.ADD' | translate}}</span>
            {{ 'GENERAL.COMPANY' | translate }}
        </h5>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <ng-container *ngIf="loadingShow && lableForm == 1">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 300px;">
            <div class="spinner-border text-primary m-1" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-container>
    <div class="modal-body" *ngIf="!loadingShow || lableForm == 0">
        <form class="needs-validation" (ngSubmit)="onSubmit()" [formGroup]="companyForm">
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label for="validationCustom01">{{'GENERAL.ENGLISH_NAME' | translate}}</label>
                        <input type="text" class="form-control" id="validationCustom01" formControlName="nameInEnglish"
                            [ngClass]="{'is-valid': form.nameInEnglish.dirty && !form.nameInEnglish.errors ,'is-invalid': form.nameInEnglish.dirty && form.nameInEnglish.errors}">
                        <div *ngIf="form.nameInEnglish.dirty && form.nameInEnglish.errors" class="invalid-feedback">
                            <span *ngIf="form.nameInEnglish.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <label for="validationCustom01">{{'GENERAL.ARABIC_NAME' | translate}}</label>
                        <input type="text" class="form-control" id="validationCustom01" formControlName="name"
                            [ngClass]="{'is-valid': form.name.dirty && !form.name.errors ,'is-invalid': form.name.dirty && form.name.errors}">
                        <div *ngIf="form.name.dirty && form.name.errors" class="invalid-feedback">
                            <span *ngIf="form.name.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <label for="validationCustom01">{{'GENERAL.CODE' | translate}}</label>
                        <input type="text" class="form-control" id="validationCustom01" formControlName="code"
                            [ngClass]="{'is-valid': form.code.dirty && !form.code.errors ,'is-invalid': form.code.dirty && form.code.errors}">
                        <div *ngIf="form.code.dirty && form.code.errors" class="invalid-feedback">
                            <span *ngIf="form.code.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <label for="validationCustom01">{{'GENERAL.ADDRESS' | translate}}</label>
                        <input type="text" class="form-control" id="validationCustom01" formControlName="address"
                            [ngClass]="{'is-valid': form.address.dirty && !form.address.errors ,'is-invalid': form.address.dirty && form.address.errors}">
                        <div *ngIf="form.address.dirty && form.address.errors" class="invalid-feedback">
                            <span *ngIf="form.address.errors.required">This value is required.</span>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-12">
              <div class="mb-3">
                <label for="formFile">{{'GENERAL.IMAGE' | translate}} {{'GENERAL.DEPARTMENT' | translate}}</label>
                <input class="form-control" type="file" accept="image/*" id="formFile" (change)="uploadeImage($event)"
                  [ngClass]="{'is-valid': form.image.dirty && !form.image.errors ,'is-invalid': form.image.dirty && form.image.errors}">
                <div class="card-image p-0 px-2 m-2" *ngIf="form.image.value">
                  <img class="p-0 w-100" title="images" alt="images" [src]="form.image.value" />
                </div>
              </div>
            </div> -->
            </div>
            <div class="w-100 text-center">
                <button class="btn btn-primary" type="submit" [disabled]="companyForm.invalid">
                    <i class="bx bx-loader bx-spin font-size-16 align-middle me-2" *ngIf="loadingCompany"></i>
                    {{lableForm == 0 ? 'ADD': 'EDIT'}}
                </button>
            </div>
        </form>
    </div>

</ng-template>