<div class="be-comment-block" *ngIf="Data">
	<h1 class="comments-title">Comments ({{Data.length}})</h1>
	<ng-container *ngFor="let comment of Data">

		<div class="be-comment">
			<div class="m-0 d-flex row align-items-center justify-content-between">
				<div class="d-flex align-items-center m-2 max-w-content">
					<a href="javascript: void(0);" *ngIf="comment.commentatorImagePath">
						<img [src]="url + comment.commentatorImagePath" [alt]="comment.commentatorName"
							class="be-ava-comment">
					</a>
					<div class="avatar-group-item avatar-xs" *ngIf="!comment.commentatorImagePath">
						<span class="avatar-title rounded-circle bg-soft bg-primary text-primary">
							{{comment.commentatorName.charAt(0)}}
						</span>
					</div>
					<span class="be-comment-name ms-2">
						<a href="javascript: void(0);">{{comment.commentatorName}}</a>
					</span>
				</div>
				<span class="be-comment-time max-w-content">
					<i class="fa fa-clock-o"></i>
					{{comment.insertDate}}
				</span>
				<div class="col-12">
					<div class="be-comment-text">
						<small>{{comment.text}}</small>
						<div class="row ">
							<div class="card-image p-0 px-2 m-2" style="min-width: 50px !important;" *ngFor="let file of comment.files;let i = index">
								<img class="p-0 w-100" title="images" alt="images" [src]="url+file" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ng-container>
	<form class="form-block" [formGroup]="formComment" (submit)="onSubmit()">
		<div class="row">
			<div class="col-12 my-2">
				<textarea class="w-100 p-2" formControlName="text" cols="30" rows="4"></textarea>
			</div>
			<div class="col-12">
				<div class="mb-3">
					<label for="formFile">{{'GENERAL.FILES' | translate}}</label>
					<input class="form-control" type="file" multiple accept="image/*" id="formFile"
						(change)="onImageSelected($event)">
					<ng-container *ngIf="files.length > 0">
						<div class="row">
							<div class="card-image p-0 px-2 m-2" *ngFor="let file of files;let i = index">
								<button type="button" class="w-100 btn btn-danger border-round-0"
									(click)="removeImage(i)">remove</button>
								<img class="p-0 w-100" title="images" alt="images" [src]="file" />
							</div>
						</div>
					</ng-container>
				</div>
			</div>
			<button type="submit" [disabled]="formComment.invalid" class="btn btn-primary pull-right">submit</button>
		</div>
	</form>
</div>