<div class="be-comment-block" *ngIf="Data">
	<h1 class="comments-title">Comments ({{Data.length}})</h1>
	<ng-container *ngFor="let comment of Data">

		<div class="be-comment">
			<div class="be-img-comment">
				<a href="javascript: void(0);" *ngIf="comment.commentatorImagePath">
					<img [src]="url + comment.commentatorImagePath" [alt]="comment.commentatorName"
						class="be-ava-comment">
				</a>
				<div class="avatar-group-item avatar-xs" *ngIf="!comment.commentatorImagePath">
					<span class="avatar-title rounded-circle bg-soft bg-primary text-primary">
						{{comment.commentatorName.charAt(0)}}
					</span>
				</div>
			</div>
			<div class="be-comment-content">
				<span class="be-comment-name">
					<a href="javascript: void(0);">{{comment.commentatorName}}</a>
				</span>
				<span class="be-comment-time">
					<i class="fa fa-clock-o"></i>
					{{comment.insertDate}}
				</span>

				<p class="be-comment-text">
					<small>{{comment.text}}</small>
				</p>
			</div>
		</div>
	</ng-container>
	<form class="form-block" [formGroup]="formComment" (submit)="onSubmit()">
		<div class="row">
			<!-- <div class="col-2"></div> -->
			<div class="col-10 my-2">
                <textarea class="w-100 p-2" formControlName="text" cols="30" rows="4"></textarea>
				<button type="submit" [disabled]="formComment.invalid"
					class="btn btn-primary pull-right">submit</button>
			</div>
		</div>
	</form>
</div>