<!-- <div class="card">
    <h5 class="modal-title mt-0">
        <span *ngIf="clientID">{{'GENERAL.EDIT' | translate}}</span>
        <span *ngIf="!clientID">{{'GENERAL.ADD' | translate}}</span>
        {{ 'GENERAL.CLIENT' | translate }}
    </h5>
</div> -->
<!-- <div class="card">
    <div class="card-body">
        <app-page-title title="Blog Grid" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    </div>
</div> -->
<ng-container *ngIf="loadingShow && clientID">
    <div class="d-flex justify-content-center align-items-center" style="min-height: 300px;">
        <div class="spinner-border text-primary m-1" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!loadingShow || !clientID">
    <form class="needs-validation" (ngSubmit)="onSubmit()" [formGroup]="clientsForm">
        <div class="row">
            <div class="col-md-6">
                <div class="card p-2">
                    <div class="card-header text-center my-3">
                        {{'GENERAL.PERSONAL_INFORMATION' | translate}}
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label for="validationCustom01" class="form-label text-capitalize">{{'GENERAL.NAME' |
                                    translate}}</label>
                                <input type="text" class="form-control" id="validationCustom01"
                                    formControlName="companyName"
                                    [ngClass]="{'is-valid': form.companyName.dirty && !form.companyName.errors ,'is-invalid': form.companyName.dirty && form.companyName.errors}">
                                <div *ngIf="form.companyName.dirty && form.companyName.errors" class="invalid-feedback">
                                    <span *ngIf="form.companyName.errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label class="form-label text-capitalize">{{'GENERAL.EMAIL' | translate}}</label>
                                <div>
                                    <input type="email" class="form-control" formControlName="email"
                                        [ngClass]="{'is-valid': form.email.dirty && !form.email.errors ,'is-invalid': form.email.dirty && form.email.errors}" />
                                    <div *ngIf="form.email.dirty && form.email.errors" class="invalid-feedback">
                                        <span *ngIf="form.email.errors.required">This value is required.</span>
                                        <span *ngIf="form.email.errors.email">This value should be a valid email.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label for="validationCustom01" class="form-label text-capitalize">{{'GENERAL.ACTIVITY'
                                    |
                                    translate}}</label>
                                <textarea type="text" class="form-control" id="validationCustom01"
                                    formControlName="activity"
                                    [ngClass]="{'is-valid': form.activity.dirty && !form.activity.errors ,'is-invalid': form.activity.dirty && form.activity.errors}"></textarea>
                                <div *ngIf="form.activity.dirty && form.activity.errors" class="invalid-feedback">
                                    <span *ngIf="form.company.errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label for="validationCustom01"
                                    class="form-label text-capitalize">{{'GENERAL.MOBILE_NUMBER'
                                    |
                                    translate}}</label>
                                <textarea type="text" class="form-control" id="validationCustom01"
                                    formControlName="mobile"
                                    [ngClass]="{'is-valid': form.mobile.dirty && !form.mobile.errors ,'is-invalid': form.mobile.dirty && form.mobile.errors}"></textarea>
                                <div *ngIf="form.mobile.dirty && form.mobile.errors" class="invalid-feedback">
                                    <span *ngIf="form.mobile.errors.required">This value is required.</span>
                                    <!-- <span *ngIf="form.mobile.errors.pattern">This value must be number</span> -->
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label for="validationCustom01"
                                    class="form-label text-capitalize">{{'GENERAL.GENERALMANAGERNAME' |
                                    translate}}</label>
                                <input type="text" class="form-control" id="validationCustom01"
                                    formControlName="generalManagerName"
                                    [ngClass]="{'is-valid': form.generalManagerName.dirty && !form.generalManagerName.errors ,'is-invalid': form.generalManagerName.dirty && form.generalManagerName.errors}">
                                <div *ngIf="form.generalManagerName.dirty && form.generalManagerName.errors"
                                    class="invalid-feedback">
                                    <span *ngIf="form.generalManagerName.errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label for="validationCustom01"
                                    class="form-label text-capitalize">{{'GENERAL.SALESMANAGERNAME'
                                    |
                                    translate}}</label>
                                <input type="text" class="form-control" id="validationCustom01"
                                    formControlName="salesManagerName"
                                    [ngClass]="{'is-valid': form.salesManagerName.dirty && !form.salesManagerName.errors ,'is-invalid': form.salesManagerName.dirty && form.salesManagerName.errors}">
                                <div *ngIf="form.salesManagerName.dirty && form.salesManagerName.errors"
                                    class="invalid-feedback">
                                    <span *ngIf="form.salesManagerName.errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label for="validationCustom01"
                                    class="form-label text-capitalize">{{'GENERAL.DEPARTMENT' |
                                    translate}}</label>
                                <ng-select [items]="listOfDepartment" formControlName="department_Id" bindLabel="name"
                                    bindValue="id"></ng-select>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label for="validationCustom01"
                                    class="form-label text-capitalize">{{'GENERAL.JOBCATEGORY' |
                                    translate}}</label>
                                <ng-select [items]="ListOfClientJobCategories" formControlName="clientJobCategory_Id"
                                    (change)="getListOfClientJobs($event?.id)" bindLabel="name"
                                    bindValue="id"></ng-select>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label for="validationCustom01" class="form-label text-capitalize">{{'GENERAL.CLIENTJOB'
                                    |
                                    translate}}</label>
                                <ng-select [items]="ListOfClientJobs" formControlName="clientJob_Id" bindLabel="name"
                                    bindValue="id"></ng-select>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label class="form-label text-capitalize">{{'GENERAL.STATES' |
                                    translate}}</label>
                                <ng-select [items]="listOfStates" [(ngModel)]="state_Id"
                                    [ngModelOptions]="{standalone: true}" (change)="getListOfRegions($event?.id)"
                                    bindLabel="name" bindValue="id"></ng-select>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label class="form-label text-capitalize">{{'GENERAL.REGION' |
                                    translate}}</label>
                                <ng-select
                                    [ngClass]="{'is-valid': form.region_Id.dirty && !form.region_Id.errors ,'is-invalid': form.region_Id.dirty && form.region_Id.errors}"
                                    [items]="listOfRegion" formControlName="region_Id" bindLabel="name"
                                    bindValue="id"></ng-select>
                                <div *ngIf="form.region_Id.dirty && form.region_Id.errors" class="invalid-feedback">
                                    <span *ngIf="form.region_Id.errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label for="validationCustom01" class="form-label text-capitalize">{{'GENERAL.ADDRESS' |
                                    translate}}</label>
                                <input type="text" class="form-control" id="validationCustom01"
                                    formControlName="addressInDetail"
                                    [ngClass]="{'is-valid': form.addressInDetail.dirty && !form.addressInDetail.errors ,'is-invalid': form.addressInDetail.dirty && form.addressInDetail.errors}">
                                <div *ngIf="form.addressInDetail.dirty && form.addressInDetail.errors"
                                    class="invalid-feedback">
                                    <span *ngIf="form.addressInDetail.errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6">
                            <div class="mb-3">
                                <label class="form-label text-capitalize">{{'GENERAL.FOLLOWINGTYPE' |
                                    translate}}</label>
                                <ng-select
                                    [ngClass]="{'is-valid': form.clientType_Id.dirty && !form.clientType_Id.errors ,'is-invalid': form.clientType_Id.dirty && form.clientType_Id.errors}"
                                    [items]="listOfClientTypes" formControlName="clientType_Id" bindLabel="name"
                                    bindValue="id"></ng-select>
                                <div *ngIf="form.clientType_Id.dirty && form.clientType_Id.errors"
                                    class="invalid-feedback">
                                    <span *ngIf="form.clientType_Id.errors.required">This value is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="formFile">{{'GENERAL.FILES' | translate}}</label>
                                <input class="form-control" type="file" multiple accept="image/*" id="formFile"
                                    (change)="uploadImg($event)">
                                <ng-container *ngIf="pathImage">
                                    <div class="row">
                                        <div class="card-image p-0 px-2 m-2">
                                            <button type="button" class="w-100 btn btn-danger border-round-0"
                                                (click)="pathImage = null">remove</button>
                                            <img class="p-0 w-100" title="images" alt="images" [src]="pathImage" />
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card p-2">
                    <!-- <div class="card-header text-center my-3">
                        {{'GENERAL.PERSONAL_INFORMATION' | translate}}
                    </div> -->
                    <div class="row">
                        <div class="col-12 mb-4">
                            <div class="card-header text-center my-3">
                                {{'GENERAL.ClientAddresses' | translate}}
                            </div>
                            <div class="row" formArrayName="ClientAddresses">
                                <div *ngFor="let ClientAddresse of ClientAddresses.controls; let i = index">
                                    <ng-container [formGroupName]="i">
                                        <div class="col-12 border-content p-2 my-2">
                                            <button type="button" (click)="deleteFormClientAddresses(i)"
                                                class="btn btn-danger d-block ms-auto m">X</button>

                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="validationCustom01"
                                                            class="form-label text-capitalize">{{'GENERAL.ADDRESS' |
                                                            translate}} 1 </label>
                                                        <input type="text" class="form-control" id="validationCustom01"
                                                            formControlName="StreetAddress1"
                                                            [ngClass]="{'is-valid': ClientAddresse.get('StreetAddress1').dirty && !ClientAddresse.get('StreetAddress1').errors ,'is-invalid': ClientAddresse.get('StreetAddress1').dirty && ClientAddresse.get('StreetAddress1').errors}">
                                                        <div *ngIf="ClientAddresse.get('StreetAddress1').dirty && ClientAddresse.get('StreetAddress1').errors"
                                                            class="invalid-feedback">
                                                            <span
                                                                *ngIf="ClientAddresse.get('StreetAddress1').errors.required">This
                                                                value is
                                                                required.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="validationCustom01"
                                                            class="form-label text-capitalize">{{'GENERAL.ADDRESS' |
                                                            translate}} 2 </label>
                                                        <input type="text" class="form-control" id="validationCustom01"
                                                            formControlName="StreetAddress2"
                                                            [ngClass]="{'is-valid': ClientAddresse.get('StreetAddress2').dirty && !ClientAddresse.get('StreetAddress2').errors ,'is-invalid': ClientAddresse.get('StreetAddress2').dirty && ClientAddresse.get('StreetAddress2').errors}">
                                                        <div *ngIf="ClientAddresse.get('StreetAddress2').dirty && ClientAddresse.get('StreetAddress2').errors"
                                                            class="invalid-feedback">
                                                            <span
                                                                *ngIf="ClientAddresse.get('StreetAddress2').errors.required">This
                                                                value is
                                                                required.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="validationCustom01"
                                                            class="form-label text-capitalize">{{'GENERAL.POSTALCODE' |
                                                            translate}} </label>
                                                        <input type="text" class="form-control" id="validationCustom01"
                                                            formControlName="PostalCode"
                                                            [ngClass]="{'is-valid': ClientAddresse.get('PostalCode').dirty && !ClientAddresse.get('PostalCode').errors ,'is-invalid': ClientAddresse.get('PostalCode').dirty && ClientAddresse.get('PostalCode').errors}">
                                                        <div *ngIf="ClientAddresse.get('PostalCode').dirty && ClientAddresse.get('PostalCode').errors"
                                                            class="invalid-feedback">
                                                            <span
                                                                *ngIf="ClientAddresse.get('PostalCode').errors.required">This
                                                                value is
                                                                required.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label text-capitalize">{{'GENERAL.STATES' |
                                                            translate}}</label>
                                                        <input type="text" class="form-control" id="validationCustom01"
                                                            formControlName="region"
                                                            [ngClass]="{'is-valid': ClientAddresse.get('region').dirty && !ClientAddresse.get('region').errors ,'is-invalid': ClientAddresse.get('region').dirty && ClientAddresse.get('region').errors}">
                                                        <div *ngIf="ClientAddresse.get('region').dirty && ClientAddresse.get('region').errors"
                                                            class="invalid-feedback">
                                                            <span
                                                                *ngIf="ClientAddresse.get('region').errors.required">This
                                                                value is
                                                                required.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label text-capitalize">{{'GENERAL.REGION' |
                                                            translate}}</label>
                                                        <input type="text" class="form-control" id="validationCustom01"
                                                            formControlName="state"
                                                            [ngClass]="{'is-valid': ClientAddresse.get('state').dirty && !ClientAddresse.get('state').errors ,'is-invalid': ClientAddresse.get('state').dirty && ClientAddresse.get('state').errors}">
                                                        <div *ngIf="ClientAddresse.get('state').dirty && ClientAddresse.get('state').errors"
                                                            class="invalid-feedback">
                                                            <span
                                                                *ngIf="ClientAddresse.get('state').errors.required">This
                                                                value is
                                                                required.</span>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-outline-success" type="button"
                                    (click)="addFormClientAddresses()">{{'GENERAL.ADD' | translate}} <i
                                        class="bx bx-plus-medical"></i></button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 mb-4">
                            <div class="card-header text-center my-3">
                                {{'GENERAL.ClientContactLists' | translate}}
                            </div>
                            <div class="row" formArrayName="ClientContactLists">
                                <div *ngFor="let ClientContactList of ClientContactLists.controls; let i = index">
                                    <ng-container [formGroupName]="i">
                                        <div class="col-12 border-content p-2 my-2">
                                            <button type="button" (click)="deleteFormClientContactLists(i)"
                                                class="btn btn-danger d-block ms-auto m">X</button>
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="validationCustom01"
                                                            class="form-label text-capitalize">{{'GENERAL.NAME' |
                                                            translate}} {{'GENERAL.FIRST' |
                                                            translate}} </label>
                                                        <input type="text" class="form-control" id="validationCustom01"
                                                            formControlName="FirstName"
                                                            [ngClass]="{'is-valid': ClientContactList.get('FirstName').dirty && !ClientContactList.get('FirstName').errors ,'is-invalid': ClientContactList.get('FirstName').dirty && ClientContactList.get('FirstName').errors}">
                                                        <div *ngIf="ClientContactList.get('FirstName').dirty && ClientContactList.get('FirstName').errors"
                                                            class="invalid-feedback">
                                                            <span
                                                                *ngIf="ClientContactList.get('FirstName').errors.required">This
                                                                value is
                                                                required.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="validationCustom01"
                                                            class="form-label text-capitalize">{{'GENERAL.NAME' |
                                                            translate}} {{'GENERAL.LAST' |
                                                            translate}} </label>
                                                        <input type="text" class="form-control" id="validationCustom01"
                                                            formControlName="LastName"
                                                            [ngClass]="{'is-valid': ClientContactList.get('LastName').dirty && !ClientContactList.get('LastName').errors ,'is-invalid': ClientContactList.get('LastName').dirty && ClientContactList.get('LastName').errors}">
                                                        <div *ngIf="ClientContactList.get('LastName').dirty && ClientContactList.get('LastName').errors"
                                                            class="invalid-feedback">
                                                            <span
                                                                *ngIf="ClientContactList.get('LastName').errors.required">This
                                                                value is
                                                                required.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="validationCustom01"
                                                            class="form-label text-capitalize">{{'GENERAL.MOBILE_NUMBER'
                                                            |
                                                            translate}}</label>
                                                        <textarea type="text" class="form-control"
                                                            id="validationCustom01" formControlName="Mobile"
                                                            [ngClass]="{'is-valid': ClientContactList.get('Mobile').dirty && !ClientContactList.get('Mobile').errors ,'is-invalid': ClientContactList.get('Mobile').dirty && ClientContactList.get('Mobile').errors}"></textarea>
                                                        <div *ngIf="ClientContactList.get('Mobile').dirty && ClientContactList.get('Mobile').errors"
                                                            class="invalid-feedback">
                                                            <span
                                                                *ngIf="ClientContactList.get('Mobile').errors.required">This
                                                                value is
                                                                required.</span>
                                                            <span
                                                                *ngIf="ClientContactList.get('Mobile').errors.pattern">This
                                                                value must be number</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="validationCustom01"
                                                            class="form-label text-capitalize">{{'GENERAL.TELEPHONE'
                                                            |
                                                            translate}}</label>
                                                        <textarea type="text" class="form-control"
                                                            id="validationCustom01" formControlName="Telephone"
                                                            [ngClass]="{'is-valid': ClientContactList.get('Telephone').dirty && !ClientContactList.get('Telephone').errors ,'is-invalid': ClientContactList.get('Telephone').dirty && ClientContactList.get('Telephone').errors}"></textarea>
                                                        <div *ngIf="ClientContactList.get('Telephone').dirty && ClientContactList.get('Telephone').errors"
                                                            class="invalid-feedback">
                                                            <span
                                                                *ngIf="ClientContactList.get('Telephone').errors.required">This
                                                                value is
                                                                required.</span>
                                                            <span
                                                                *ngIf="ClientContactList.get('Telephone').errors.pattern">This
                                                                value must be number</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6">
                                                    <div class="mb-3">
                                                        <label class="form-label text-capitalize">{{'GENERAL.EMAIL' |
                                                            translate}}</label>
                                                        <div>
                                                            <input type="email" class="form-control"
                                                                formControlName="Email"
                                                                [ngClass]="{'is-valid': ClientContactList.get('Email').dirty && !ClientContactList.get('Email').errors ,'is-invalid': ClientContactList.get('Email').dirty && ClientContactList.get('Email').errors}" />
                                                            <div *ngIf="ClientContactList.get('Email').dirty && ClientContactList.get('Email').errors"
                                                                class="invalid-feedback">
                                                                <span
                                                                    *ngIf="ClientContactList.get('Email').errors.required">This
                                                                    value is
                                                                    required.</span>
                                                                <span
                                                                    *ngIf="ClientContactList.get('Email').errors.Email">This
                                                                    value should be a
                                                                    valid Email.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-outline-success" type="button"
                                    (click)="addFormClientContactLists()">{{'GENERAL.ADD' | translate}} <i
                                        class="bx bx-plus-medical"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 text-center">
            <button class="btn btn-primary" type="submit" [disabled]="clientsForm.invalid">
                <i class="bx bx-loader bx-spin font-size-16 align-middle me-2" *ngIf="loadingclients"></i>
                <span *ngIf="clientID">{{'GENERAL.EDIT' | translate}}</span>
                <span *ngIf="!clientID">{{'GENERAL.ADD' | translate}}</span>
            </button>
        </div>
    </form>
</ng-container>